---
import Layout from "../../layouts/Layout.astro";
import "../../styles/layout.css";
import { formatBlogPosts, slugify } from "../../js/utils";
import PostPreview from "../../components/PostPreview.astro";

export async function getStaticPaths() {
    return [
        {
            params: { category: slugify("Dise침o") },
            props: { name: "Dise침o" },
        },
        {
            params: { category: slugify("Programas") },
            props: { name: "Programas" },
        },
        {
            params: { category: slugify("Hardware") },
            props: { name: "Hardware" },
        },
        {
            params: { category: slugify("Web") },
            props: { name: "Web" },
        },
        {
            params: { category: slugify("Tips") },
            props: { name: "Tips" },
        },
        {
            params: { category: slugify("Comunicaci칩n") },
            props: { name: "Comunicaci칩n" },
        },
        {
            params: { category: slugify("Cuento") },
            props: { name: "Cuento" },
        },
        {
            params: { category: slugify("Game") },
            props: { name: "Game" },
        },
        {
            params: { category: slugify("Marketing") },
            props: { name: "Marketing" },
        },
    ];
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPost = await Astro.glob("../publicaciones/*.md");
const formattedPosts = formatBlogPosts(allPost);
const catPosts = formattedPosts.filter(
    (post) => slugify(post.frontmatter.category) === category,
);
---

<Layout title={name}>
    <div class="main-content">
        <header>
            <h1>Publicaciones sobre {name}</h1>
        </header>

        <main>
            <div class="wrapper-post">
                {catPosts.map((apost) => <PostPreview post={apost} />)}
            </div>
        </main>
    </div>
</Layout>
