---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatPost, slugify } from "../../js/formateo";
import PostPreview from "../../components/PostPreview.astro";

export async function getStaticPaths() {
	const posts = await getCollection("publicaciones");
	const lista = formatPost(posts);
	const allCategories = [
		...new Set(lista.map((post: any) => post.data.category).flat()),
	];
	return allCategories.map((category) => {
		const authorPosts = lista.filter(
			(post: any) => post.data.category === category
		);
		return {
			params: { category: slugify(category) },
			props: {
				categoryName: category,
				posts: authorPosts,
			},
		};
	});
}

const { posts, categoryName } = Astro.props;
---

<Layout title={"Categoría de " + categoryName}>
	<main>
		<section>
			<article>
				<div class="wrapper-post">
					{posts.map((post: any) => <PostPreview post={post} />)}
				</div>
			</article>
		</section>
	</main>
</Layout>
