#bottom-call
	display flex
	justify-content center
	width 100%
	animation callme 0.2s ease-in-out both
	div
		display flex
		justify-content flex-end
		width 90%
	a
		padding onespace
		border-radius radius
		background #25d366
		color eWhite
		font-weight 400
		letter-spacing 1pt
		gap onespace
		transition all 0.2s ease-in-out
		&:hover
			opacity 1
			background #075e54

/* Animaciones */
/* callme */
@keyframes callme
	from
		opacity 0
	to
		opacity 1