@charset "UTF-8";
/* importando variables */
/* importando reset */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root,
interpolate-size allow-keywords,
body {
  min-height: 100dvh;
}
input,
button,
textarea,
select {
  font: inherit;
}
p {
  text-wrap: pretty;
  max-inline-size: 50ch;
  text-box: trim-both cap alphabetic;
}
a {
  text-decoration: none;
  text-box: trim-both cap alphabetic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  text-box: trim-both cap alphabetic;
}
img,
video,
svg {
  height: auto;
  max-width: 100%;
}
@viewport {
  width: device-width;
}
@view-transition {
  navigation: auto;
}
/* Importando fuentes tipográficas */
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype-variations');
}
/* Colores */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  letter-spacing: 1pt;
}
/* Estilos ScrollBar */
html {
  scrollbar-color: #a0eaeb #6ac8c7;
  scrollbar-width: thin;
}
/* Body */
body {
  background-color: #fff;
  background-image: repeating-linear-gradient(to right, rgba(160,234,235,0.5), rgba(160,234,235,0.5) 2px, #fff 2px, #fff);
  background-size: 32px 32px;
  width: 100%;
  color: #fff;
  font-size: clamp(18px, 1vw, 1vw);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  z-index: 0;
  hyphens: none;
}
/* Selección */
::selection {
  background: #a0eaeb;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #054d56;
  margin: 1em 0;
  padding: 0;
}
/* Enlaces */
a {
  color: #0d8796;
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover {
  color: #054d56;
}
/* Cabecera principal */
#main-header {
  width: 100%;
  display: grid;
  grid-template-columns: 10vw 1fr 5vw;
  grid-template-rows: 1fr;
  align-items: center;
  align-content: center;
  position: relative;
  animation: aparecer 1s ease;
}
/* Animación de parecer */
/* Logotipo */
#logo {
  background-color: #0faaa7;
  height: 100%;
  border-radius: 0 0 clamp(6px, 0.4vw, 0.4vw) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo svg {
  width: auto;
  height: 60%;
  max-height: 48px;
}
/* Título de página */
.name-title {
  height: 100%;
  display: flex;
  align-items: center;
}
.name-title h1 {
  color: #054d56;
  font-size: clamp(28px, 1.6vw, 1.6vw);
  padding: clamp(16px, 1vw, 1vw);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/* Nav Header */
nav {
  display: flex;
  justify-content: center;
  background-color: #0faaa7;
  height: 100%;
  align-items: center;
  border-radius: 0 0 0 clamp(6px, 0.4vw, 0.4vw);
}
nav .open-menu,
nav .closed-menu {
  user-select: none;
  cursor: pointer;
  display: block;
}
nav .open-menu img,
nav .closed-menu img {
  min-width: 48px;
  width: 2vw;
  height: auto;
}
nav .closed-menu {
  display: none;
}
nav menu {
  display: none;
}
nav a {
  display: inline-block;
  color: #054d56;
  padding: clamp(16px, 1vw, 1vw);
  outline: solid clamp(1px, 0.2vw, 0.2vw) #0faaa7;
  border-radius: clamp(6px, 0.4vw, 0.4vw);
}
nav a:hover {
  background: #a0eaeb;
  border-radius: clamp(6px, 0.4vw, 0.4vw);
}
.input-menu {
  display: none;
}
.input-menu:checked ~ nav .open-menu {
  display: none;
}
.input-menu:checked ~ nav .closed-menu {
  user-select: none;
  cursor: pointer;
  display: block;
}
.input-menu:checked ~ nav menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 10vh;
  right: 5vw;
  text-align: right;
  background-color: #fff;
  border-radius: clamp(6px, 0.4vw, 0.4vw);
  padding: clamp(16px, 1vw, 1vw);
  box-shadow: 0 clamp(1px, 0.2vw, 0.2vw) clamp(3px, 0.4vw, 0.4vw) rgba(15,170,167,0.6);
}
/* Contenedor principal */
#main-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* Contenedor de artículos */
.wrapper-article {
  padding: 12vh 0 12vh 0;
/* Estilos para wrapper impares */
/* Estilos para wrapper pares */
/* Artículos */
/* Imagen de Articulo */
/* Header de article H2*/
/* Contenedor de texto de article */
}
.wrapper-article:nth-child(odd) {
  background-color: #0d8796;
  color: #fff;
  background-size: 32px 32px;
  background-image: repeating-linear-gradient(to right, rgba(5,77,86,0.5), rgba(5,77,86,0.5) 2px, #0d8796 2px, #0d8796);
}
.wrapper-article:nth-child(odd) .wrap-txt {
  opacity: 0.8;
}
.wrapper-article:nth-child(even) figure {
  justify-content: flex-end;
  padding-bottom: clamp(16px, 1vw, 1vw);
  border-bottom: dashed clamp(1px, 0.2vw, 0.2vw) #0faaa7;
  border-bottom-right-radius: clamp(6px, 0.4vw, 0.4vw);
}
.wrapper-article:nth-child(even) header {
  color: #054d56;
  justify-content: flex-end;
}
.wrapper-article:nth-child(even) .wrap-txt {
  color: #0d8796;
  text-align: right;
  border-right: solid clamp(6px, 1vw, 1vw) #0d8796;
  border-bottom-right-radius: clamp(6px, 0.4vw, 0.4vw);
  padding-right: clamp(16px, 1vw, 1vw);
  margin-top: clamp(16px, 1vw, 1vw);
}
.wrapper-article:nth-child(even) .wrap-txt div {
  align-self: flex-end;
}
.wrapper-article:nth-child(even) .wrap-txt a {
  color: #0d8796;
  border-bottom: dashed clamp(1px, 0.2vw, 0.2vw) #0faaa7;
}
.wrapper-article article {
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1vw, 1vw) 0;
}
.wrapper-article figure {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: dashed clamp(1px, 0.2vw, 0.2vw) #fff;
  border-bottom-left-radius: clamp(6px, 0.4vw, 0.4vw);
  padding-bottom: clamp(16px, 1vw, 1vw);
}
.wrapper-article figure img {
  max-width: 20%;
}
.wrapper-article figure figcaption {
  color: transparent;
  font-size: 0;
  display: none;
}
.wrapper-article header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding-top: clamp(48px, 3vw, 3vw);
}
.wrapper-article header h2 {
  font-size: clamp(36px, 6vw, 6.1vw);
}
.wrapper-article .wrap-txt {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-left: solid clamp(6px, 1vw, 1vw) #fff;
  border-bottom-left-radius: clamp(6px, 0.4vw, 0.4vw);
  padding-left: clamp(16px, 1vw, 1vw);
  margin-top: clamp(16px, 1vw, 1vw);
}
.wrapper-article .wrap-txt p,
.wrapper-article .wrap-txt blockquote {
  font-weight: 500;
  padding-bottom: clamp(16px, 1vw, 1vw);
}
.wrapper-article .wrap-txt blockquote {
  font-style: italic;
}
.wrapper-article .wrap-txt strong {
  font-weight: 600;
}
.wrapper-article .wrap-txt a {
  color: #fff;
  border-bottom: dashed clamp(1px, 0.2vw, 0.2vw) #fff;
}
/* Lista de servicios */
#list-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(32px, 2vw, 2vw);
  padding-top: clamp(32px, 2vw, 2vw);
}
.item-services {
  min-width: 180px;
/* Titulo del servicio */
}
.item-services div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url("/designer/iconos-servicios.svg");
  background-repeat: no-repeat;
  border-radius: 25%;
  transition: all 0.1s ease-out;
}
.item-services div:hover {
  transform: scale(1.1);
}
.item-services:nth-of-type(2) div {
  background-position: center -124.42px;
}
.item-services:nth-of-type(3) div {
  background-position: center -249px;
}
.item-services:nth-of-type(4) div {
  background-position: center -373px;
}
.item-services:nth-of-type(5) div {
  background-position: center -497px;
}
.item-services:nth-of-type(6) div {
  background-position: center -622px;
}
.item-services:nth-of-type(7) div {
  background-position: center -747px;
}
.item-services:nth-of-type(8) div {
  background-position: center -871px;
}
.item-services:nth-of-type(9) div {
  background-position: center -995px;
}
.item-services:nth-of-type(10) div {
  background-position: center -1119px;
}
.item-services h3 {
  font-size: clamp(20px, 1.4vw, 1.5vw);
  color: #0d8796;
  padding-top: clamp(16px, 1vw, 1vw);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/* Footer */
#footer {
  width: 100%;
  display: grid;
  grid-template-columns: 10vw 1fr 30vw;
  grid-template-rows: 1fr;
  align-items: center;
  align-content: center;
}
#logo-footer {
  background-color: #0faaa7;
  height: 100%;
  border-radius: 0 clamp(6px, 0.4vw, 0.4vw) 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-footer svg {
  width: auto;
  height: 50%;
  max-height: 48px;
}
#copyright {
  height: 100%;
  color: #0faaa7;
  display: flex;
  align-items: center;
}
#copyright small {
  padding: clamp(16px, 1vw, 1vw);
  text-transform: uppercase;
}
/* Botonera Social Footer */
#wrap-social {
  background-color: #0faaa7;
  border-radius: clamp(6px, 0.4vw, 0.4vw) 0 0 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap-social .social-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: clamp(16px, 1vw, 1vw);
}
#wrap-social .social-footer a {
  background: url("/img/icon-social.svg") no-repeat #6ac8c7;
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: clamp(6px, 0.4vw, 0.4vw);
  font-size: 0;
  transition: all 0.4s ease;
}
#wrap-social .social-footer a:hover {
  background-color: #0d8796;
}
#wrap-social .social-footer a:nth-child(1) {
  background-position: -48px 0;
}
#wrap-social .social-footer a:nth-child(2) {
  background-position: 0 0;
}
#wrap-social .social-footer a:nth-child(3) {
  background-position: -96px 0;
}
#wrap-social .social-footer a:nth-child(4) {
  background-position: -336px 0;
}
#wrap-social .social-footer a:nth-child(5) {
  background-position: -240px 0;
}
#wrap-social .social-footer a:nth-child(6) {
  background-position: -288px 0;
}
/* Responsive Design */
@media (max-width: 1366px) {
  #wrap-social .social-footer a {
    transform: scale(0.8);
  }
}
@media (max-width: 1024px) {
  #wrap-social .social-footer a {
    transform: scale(1);
  }
  #main-header {
    grid-template-columns: 1fr;
  }
  #logo {
    width: 100%;
    height: 48px;
    border-radius: 0;
  }
  .name-title {
    justify-content: center;
    text-align: center;
  }
  nav {
    border-radius: 0;
  }
  .input-menu:checked ~ nav menu {
    left: 0;
    right: 0;
    top: 40vh;
    text-align: center;
  }
  .wrapper-article:nth-child(even) figure {
    justify-content: center;
  }
  .wrapper-article:nth-child(even) header {
    justify-content: center;
  }
  .wrapper-article:nth-child(even) .wrap-txt {
    justify-content: center;
    border: 0;
    padding: 0;
    text-align: left;
  }
  .wrapper-article figure {
    justify-content: center;
  }
  .wrapper-article figure img {
    max-width: 40%;
  }
  .wrapper-article header {
    justify-content: center;
  }
  .wrapper-article header h2 {
    font-size: 9vw;
  }
  .wrapper-article .wrap-txt {
    justify-content: center;
    border: 0;
    padding: 0;
  }
  #footer {
    grid-template-columns: 1fr;
  }
  #logo-footer {
    height: 48px;
    border-radius: 0;
  }
  #copyright {
    justify-content: center;
    text-align: center;
  }
  #wrap-social {
    padding: clamp(16px, 1vw, 1vw);
  }
}
@-moz-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
