@charset "UTF-8";
/* Colores */
/* Body */
body {
  background: #fff;
  background-image: repeating-linear-gradient(to right, rgba(160,234,235,0.5), rgba(160,234,235,0.5) 2px, #fff 2px, #fff);
  background-size: 32px 32px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #fff;
  z-index: 0;
}
/* Seleccion */
::selection {
  background: #a0eaeb;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #054d56;
  margin: 1em 0;
  padding: 0;
}
/* Enlaces */
a {
  color: #0d8796;
  text-decoration: none;
}
a:hover {
  color: #054d56;
}
/* Contenedor de articulos */
.wrapper-article {
  min-height: 100vh;
  padding: 20vh 0 20vh 0;
/* Estilos para wrapper impares */
/* Estilos para wrapper pares */
/* Ariticulos */
/* Imagen de Articulo */
/* Header de article H2*/
/* Contenedor de texto de article */
}
.wrapper-article:nth-child(odd) {
  background: #0d8796;
  color: #fff;
  background-size: 32px 32px;
  background-image: repeating-linear-gradient(to right, rgba(5,77,86,0.5), rgba(5,77,86,0.5) 2px, #0d8796 2px, #0d8796);
}
.wrapper-article:nth-child(odd) .wrap-txt {
  opacity: 0.8;
}
.wrapper-article:nth-child(even) figure {
  justify-content: flex-end;
  border-bottom: dashed 2px #0faaa7;
}
.wrapper-article:nth-child(even) header {
  color: #054d56;
  justify-content: flex-end;
}
.wrapper-article:nth-child(even) .wrap-txt {
  align-items: flex-end;
  color: #0d8796;
  text-align: right;
  border-right: solid 6px #0d8796;
  padding-right: 2rem;
}
.wrapper-article:nth-child(even) .wrap-txt a {
  color: #0d8796;
  border-bottom: dashed 2px #0faaa7;
}
.wrapper-article article {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
.wrapper-article figure {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: dashed 2px #fff;
}
.wrapper-article figure img {
  max-width: 20%;
}
.wrapper-article figure figcaption {
  color: transparent;
  font-size: 0;
  display: none;
}
.wrapper-article header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 6rem;
}
.wrapper-article header h2 {
  font-family: 'DM Serif Display';
  font-size: 6vw;
  font-weight: 800;
  line-height: 90%;
  letter-spacing: 3pt;
}
.wrapper-article .wrap-txt {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  border-left: solid 6px #fff;
  padding-left: 2rem;
}
.wrapper-article .wrap-txt p,
.wrapper-article .wrap-txt blockquote {
  font-size: 3em;
  font-weight: 500;
  line-height: 140%;
  font-style: italic;
  hyphens: none;
}
.wrapper-article .wrap-txt strong {
  font-weight: 600;
}
.wrapper-article .wrap-txt a {
  color: #fff;
  border-bottom: dashed 2px #fff;
}
/* Lista de servicios */
#list-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  padding-top: 2rem;
}
.item-services {
  min-width: 180px;
/* Titulo del serivicio */
}
.item-services div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url("../designer/iconos-servicios.svg");
  background-repeat: no-repeat;
  border-radius: 25%;
  transition: all 0.1s ease-out;
}
.item-services div:hover {
  transform: scale(1.1);
}
.item-services:nth-of-type(2) div {
  background-position: center -124.42px;
}
.item-services:nth-of-type(3) div {
  background-position: center -249px;
}
.item-services:nth-of-type(4) div {
  background-position: center -373px;
}
.item-services:nth-of-type(5) div {
  background-position: center -497px;
}
.item-services:nth-of-type(6) div {
  background-position: center -622px;
}
.item-services:nth-of-type(7) div {
  background-position: center -747px;
}
.item-services:nth-of-type(8) div {
  background-position: center -871px;
}
.item-services:nth-of-type(9) div {
  background-position: center -995px;
}
.item-services:nth-of-type(10) div {
  background-position: center -1119px;
}
.item-services h3 {
  font-size: 200%;
  font-weight: 800;
  color: #6ac8c7;
  line-height: 1.4;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
/* Responsive Design */
@media screen and (max-width: 2560px) {
  .wrapper-article figure img {
    max-width: 20%;
  }
  .wrapper-article .wrap-txt p,
  .wrapper-article .wrap-txt blockquote {
    font-size: 2em;
    max-width: 1366px;
  }
}
@media screen and (max-width: 1440px) {
  .wrapper-article .wrap-txt p,
  .wrapper-article .wrap-txt blockquote {
    font-size: 1.4em;
    max-width: 1024px;
  }
  .item-services h3 {
    font-size: 120%;
    font-weight: 600;
  }
}
@media screen and (max-width: 1366px) {
  .wrapper-article header {
    padding-top: 2rem;
  }
  .wrapper-article .wrap-txt {
    margin: 1rem auto;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper-article {
    padding: 14vh 0 14vh 0;
/* Imagen de Articulo */
/* Header de article H2*/
/* Contenedor de texto de article */
  }
  .wrapper-article:nth-child(even) figure {
    justify-content: center;
  }
  .wrapper-article:nth-child(even) header {
    justify-content: center;
  }
  .wrapper-article:nth-child(even) .wrap-txt {
    justify-content: center;
    border: 0;
    padding: 0;
    text-align: left;
  }
  .wrapper-article figure {
    justify-content: center;
    padding: 1rem;
  }
  .wrapper-article figure img {
    max-width: 40%;
  }
  .wrapper-article header {
    justify-content: center;
  }
  .wrapper-article header h2 {
    font-size: 9vw;
  }
  .wrapper-article .wrap-txt {
    justify-content: center;
    border: 0;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .wrapper-article {
    min-height: auto;
    padding: 10vh 0 10vh 0;
  }
}
