/* Variables */
/* Colores */
eRed = rgb(230, 61, 103)
eSkyBlue = rgb(61, 188, 230)
eBlue = rgb(103, 61, 230)
eBlueDeep = rgb(8, 12, 63)
eWhite = rgb(255, 255, 255)
eGray = rgb(191, 238, 231)

/* Estilos de Body */
body
	font-size 16px
	background eWhite
	font-family 'Outfit', Helvetica, Arial, sans-serif
	color eBlueDeep
	background linear-gradient(90deg, eWhite 20px, transparent 1%) center, linear-gradient(eWhite 20px, transparent 1%) center, eGray
	background-size 22px 22px

/* Layout Blog */
.content-blog
	width 90%
	max-width 1920px
	margin 0 auto
	padding 8vh 0 2vh 0

.wrapper-content
	display flex
	justify-content space-between
	/* Contenido */
	main
		width 70%
	/* Informacion y Publicidad */
	aside
		width 25%

/* Informacion y Publicidad */
.aside-blog
	h4
		font-size 1.2vw
		line-height 100%
		padding-bottom 2vh
	div
		margin-bottom 4vh
	.info-post
		p
			font-size 1vw
			line-height 140%
		strong, time
			text-transform uppercase
			font-weight 600
		span
			font-style italic
			hyphens none
		a
			color eBlue
			font-weight 500
			&:hover
					color eBlueDeep

/* Post solo*/
.wrapper-post
	display flex
	flex-wrap wrap
	h1
		width 100%
		font-size 2vw
		line-height 120%
		margin-bottom 2vh
		padding-bottom 1vh
		border-bottom solid 0.4vh eGray
	h2
		width 100%
		font-size 1.6vw
		line-height 120%
		margin-bottom 2vh
		padding 2vh 0 1vh 0
		border-bottom solid 0.4vh eGray
	p 
		font-size 1vw
		line-height 140%
		padding 1vh 0 1vh 0
	ul
		display flex
		width 100%
		flex-flow column wrap
	li
		list-style disc inside
		line-height 160%
		font-size 1.2vw
		&::marker
			color rgb(230, 61, 103)
	figure
		display flex
		flex-direction column
		align-items center
		padding 2vh 0 2vh 0
		width 100%
	img
		width auto/9
		height auto
		max-width 30vw
	figcaption
		padding-top 1vh
		font-size 1vw
	a
		color eBlue
		display inline
		font-weight 400
		&:hover
			color eBlueDeep

	/* Container Iframe */
	.wrapper-iframe
		margin-top 2vh
		position relative
		overflow hidden
		width 100%
		padding-top 56.25%
		iframe
			position absolute
			top 0
			left 0
			bottom 0
			right 0
			width 100%
			height 100%

/* Responsive design */
@media screen and (max-width:1024px)
	/* Layout Blog */
	.content-blog
		padding 4rem 0 2rem 0

	.wrapper-content
		flex-direction column
		justify-content center
		gap 1rem
		main
			width 100%
		aside
			width 100%
	
	/* Post solo*/
	.wrapper-post
		h1
			font-size 2em
			margin-bottom 2rem
			padding-bottom 1rem
			border-bottom solid 3px eGray
		h2
			font-size 1.6em
			margin-bottom 2rem
			padding 2rem 0 1rem 0
			border-bottom solid 3px eGray
		p
			font-size 1em
			padding 1rem 0 1rem 0
		li
			font-size 1.2em
		figure
			padding 2rem 0 2rem 0
		img
			max-width 80%
		figcaption
			padding-top 1rem
			font-size 1em

	/* Informacion y Publicidad */
	.aside-blog
		background eGray
		padding 1rem
		h4
			text-align center
			font-size 1.2em
			padding-bottom 2rem
		div
			margin-bottom 3rem
		.info-post
			display flex
			flex-direction column
			justify-content center
			align-items center
			gap 1rem
			img
				max-width 50%
			p
				font-size 1em

