/* Variables */
/* Colores */
/* Estilos de Body */
body {
  font-size: 16px;
  background: #fff;
  font-family: 'Outfit', Helvetica, Arial, sans-serif;
  color: #080c3f;
  background: linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, #bfeee7;
  background-size: 22px 22px;
}
/* Layout Blog */
.content-blog {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 8vh 0 2vh 0;
}
.wrapper-content {
  display: flex;
  justify-content: space-between;
/* Contenido */
/* Informacion y Publicidad */
}
.wrapper-content main {
  width: 70%;
}
.wrapper-content aside {
  width: 25%;
}
/* Informacion y Publicidad */
.aside-blog h4 {
  font-size: 1.2vw;
  line-height: 100%;
  padding-bottom: 2vh;
}
.aside-blog div {
  margin-bottom: 4vh;
}
.aside-blog .info-post p {
  font-size: 1vw;
  line-height: 140%;
}
.aside-blog .info-post strong,
.aside-blog .info-post time {
  text-transform: uppercase;
  font-weight: 600;
}
.aside-blog .info-post span {
  font-style: italic;
  hyphens: none;
}
.aside-blog .info-post a {
  color: #673de6;
  font-weight: 500;
}
.aside-blog .info-post a:hover {
  color: #080c3f;
}
/* Post solo*/
.wrapper-post {
  display: flex;
  flex-wrap: wrap;
/* Container Iframe */
}
.wrapper-post h1 {
  width: 100%;
  font-size: 2vw;
  line-height: 120%;
  margin-bottom: 2vh;
  padding-bottom: 1vh;
  border-bottom: solid 0.4vh #bfeee7;
}
.wrapper-post h2 {
  width: 100%;
  font-size: 1.6vw;
  line-height: 120%;
  margin-bottom: 2vh;
  padding: 2vh 0 1vh 0;
  border-bottom: solid 0.4vh #bfeee7;
}
.wrapper-post p {
  font-size: 1vw;
  line-height: 140%;
  padding: 1vh 0 1vh 0;
}
.wrapper-post ul {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
}
.wrapper-post li {
  list-style: disc inside;
  line-height: 160%;
  font-size: 1.2vw;
}
.wrapper-post li::marker {
  color: #e63d67;
}
.wrapper-post figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0 2vh 0;
  width: 100%;
}
.wrapper-post img {
  width: auto/9;
  height: auto;
  max-width: 30vw;
}
.wrapper-post figcaption {
  padding-top: 1vh;
  font-size: 1vw;
}
.wrapper-post a {
  color: #673de6;
  display: inline;
  font-weight: 400;
}
.wrapper-post a:hover {
  color: #080c3f;
}
.wrapper-post .wrapper-iframe {
  margin-top: 2vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.wrapper-post .wrapper-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* Responsive design */
@media screen and (max-width: 1024px) {
  .content-blog {
    padding: 4rem 0 2rem 0;
  }
  .wrapper-content {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .wrapper-content main {
    width: 100%;
  }
  .wrapper-content aside {
    width: 100%;
  }
  .wrapper-post h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid 3px #bfeee7;
  }
  .wrapper-post h2 {
    font-size: 1.6em;
    margin-bottom: 2rem;
    padding: 2rem 0 1rem 0;
    border-bottom: solid 3px #bfeee7;
  }
  .wrapper-post p {
    font-size: 1em;
    padding: 1rem 0 1rem 0;
  }
  .wrapper-post li {
    font-size: 1.2em;
  }
  .wrapper-post figure {
    padding: 2rem 0 2rem 0;
  }
  .wrapper-post img {
    max-width: 80%;
  }
  .wrapper-post figcaption {
    padding-top: 1rem;
    font-size: 1em;
  }
  .aside-blog {
    background: #bfeee7;
    padding: 1rem;
  }
  .aside-blog h4 {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2rem;
  }
  .aside-blog div {
    margin-bottom: 3rem;
  }
  .aside-blog .info-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .aside-blog .info-post img {
    max-width: 50%;
  }
  .aside-blog .info-post p {
    font-size: 1em;
  }
}
