/* Variables */
/* Colores */
eRed = rgb(230, 61, 103)
eSkyBlue = rgb(61, 188, 230)
eBlue = rgb(103, 61, 230)
eBlueDeep = rgb(8, 12, 63)
eWhite = rgb(255, 255, 255)
eGray = rgb(191, 238, 231)

/* Estilos de Body */
body
    font-size 16px
    background eWhite
    font-family 'Outfit', Helvetica, Arial, sans-serif
    color eBlueDeep
    background linear-gradient(90deg, eWhite 20px, transparent 1%) center, linear-gradient(eWhite 20px, transparent 1%) center, eGray
    background-size 22px 22px

/* Contenedor principal de página */
.main-content
    width 100%
    padding 2vh 0 2vh 0
    /* Contenedor de sections*/
    main
        width 90%
        max-width 1920px
        margin 0 auto

/* Navegación por página */
/* Páginas presentación y portafolio */
.navigator
    position fixed
    margin-top 6vh
    left 2vw
    ol
        display flex
        flex-direction column
    li
        display flex
        height 4vh
    a
        align-self center
        color eSkyBlue
        text-transform uppercase
        letter-spacing 1pt
        font-size 1vw
        font-weight 600
        display flex
        align-items center
        gap 1rem
        &:hover
            color rgb(8, 12, 63)

.main-content
    /* Primera cabecera de página */
    & > header 
        display flex
        flex-direction column
        gap 1rem 0
        text-align center
        padding 8vh 0 4vh 0
        background radial-gradient(circle, transparent 20%, eWhite 20%, eWhite 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, eWhite 20%, eWhite 80%, transparent 80%, transparent) 25px 25px, linear-gradient(eSkyBlue 2px, transparent 2px) 0 -1px, linear-gradient(90deg, eSkyBlue 2px, eWhite 2px) -1px 0
        background-size 50px 50px, 50px 50px, 25px 25px, 25px 25px
        /* Titulo de página H1 */
        h1 
            font-size 4vw
            font-weight 600
            color eRed
            line-height 140%
        /* Solo en la página de Publicaciones */
        h2
            font-size 2vw
            font-weight 300
            line-height 140%

/* Estilos de sections */
section
    width 100%
    /* Article Contenedor */
    article
        display flex
        flex-direction column
        padding 2vh 0 2vh 0
        /* Article para parrafos */
        article
            align-self center
            width 90%
    /* Headers de Articles */
    header
        border-bottom solid .4vh eGray
        padding 1vw
    /* Subtitulo H2 */
    h2
        font-size 2vw
        line-height 140%
        font-weight 500
        text-align right
        color eSkyBlue
    /* Subtitulo H3 */
    h3
        font-size 1.6vw
        font-weight 500
        color eSkyBlue
        line-height 140%
    /* Subtitulo H4 */
    h4
        font-size 1.4vw
        font-weight 500
        padding 1rem 0 1rem 0
        line-height 140%
        color eSkyBlue
    
/* Estilos de Parrafos en article*/
article
    article
        /* Parrafo General */
        p
            padding 2vh 0 4vh 0
            font-size 1.2vw
            line-height 140%
            hyphens none
            font-weight 300
        /* Parrafo Grande */
        .text-big
            font-size 1.4vw
            font-weight 400
        /* Listas */
        ul
            padding 2vh 0 4vh 0
        li
            font-size 1.2vw
            line-height 160%
            font-weight 300
            list-style disc inside
        /* Color de enlaces */
        a
            color eBlue
            font-weight 400
            border-bottom dashed 0.2vh eBlue
            &:hover
                color eBlueDeep

/* Enlaces  */
.enlaces
    display flex
    flex-wrap wrap
    gap 1rem
    a
        padding 1vw
        border-radius 0.2vw
        border 0
        transition all .1s ease-in-out
        font-size 1.2vw
        font-weight 400
        color #FFF
        background eBlue
        &:hover
            color #FFF
            background eBlueDeep

/* Contenedor de uls */
.wrapper-ul
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
    div
        max-width 45%

.aside-bottom
    padding 2vh 0 2vh 0
    width 100%

/* Responsive Design */
@media screen and (max-width:1920px)
    .main-content
        /* Primera cabecera de página */
        & > header 
            background radial-gradient(circle, transparent 20%, eWhite 20%, eWhite 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, eWhite 20%, eWhite 80%, transparent 80%, transparent) 25px 25px, linear-gradient(eSkyBlue 1.4px, transparent 1.4px) 0 -1px, linear-gradient(90deg, eSkyBlue 1.4px, eWhite 1.4px) -1px 0
            background-size 50px 50px, 50px 50px, 25px 25px, 25px 25px

    /* Contenedor principal de página */
    .main-content
        /* Contenedor de sections*/
        main
            width 70%

@media screen and (max-width:1024px)
    /* Navegación por página */
    /* Páginas presentación y portafolio */
    .navigator
        position static
        display flex
        justify-content center
        margin 0
        margin-top 2vh
        ol
            width 100%
            flex-direction row
            justify-content space-around
        a
            font-size 1em

    .main-content
        & > header 
            padding 12vh 0 6vh 0
            /* Titulo de página H1 */
            h1 
                font-size 6vw
    
    /* Contenedor principal de página */
    .main-content
        /* Contenedor de sections*/
        main
            width 90%
    
    /* Estilos de sections */
    section
        /* Subtitulo H2 */
        h2
            font-size 4vw
        /* Subtitulo H3 */
        h3
            font-size 3vw
        /* Subtitulo H4 */
        h4
            font-size 2.6vw

    /* Estilos de Parrafos en article*/
    article
        article
            /* Parrafo General */
            p
                font-size 1em
            /* Parrafo Grande */
            .text-big
                font-size 1.2em
            li
                font-size 1.2em

@media screen and (max-width:768px)
    /* Navegación por página */
    /* Páginas presentación y portafolio */
    .navigator
        display none
    
    /* Estilos de sections */
    section
        /* Subtitulo H2 */
        h2
            font-size 2em
        /* Subtitulo H3 */
        h3
            font-size 1.6em
        /* Subtitulo H4 */
        h4
            font-size 1.2em
    
    /* Contenedor de uls */
    .wrapper-ul
        div
            max-width 100%
    
    /* Enlaces  */
    .enlaces
        a
            padding 1rem
            font-size 1em