/* Variables */
/* Colores */
/* Contenedor principal de página */
.main-content {
  width: 90%;
  max-width: 1920px;
  margin: 2rem auto;
/* Cabecera de página */
}
.main-content > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10rem 0 6rem 0;
/* Titulo de página H1 */
}
.main-content > header h1 {
  font: italic 300 8rem Ubuntu;
  color: #e63d67;
}
.main-content > header h2 {
  font: 300 4rem/1 Ubuntu;
  letter-spacing: -1pt;
  color: #3dbce6;
}
/* Contenedor de sections*/
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Estilos de sections */
section {
  width: 100%;
  padding-bottom: 10rem;
/* Article Contenedor */
/* Headers de Articles */
/* Subtitulo H3 */
}
section article {
  display: flex;
  flex-direction: column;
/* Article para parrafos */
}
section article article {
  padding-top: 6rem;
  align-self: center;
  width: 90%;
}
section header {
  border-bottom: 8px solid #e63d67;
  padding: 2rem;
/* Subtitulo H2 */
}
section header h2 {
  font: 700 4.6rem/1 Ubuntu;
  text-align: right;
  letter-spacing: -1pt;
  color: #3dbce6;
}
section h3 {
  font: 400 4.2rem/1 Ubuntu;
  color: #3dbce6;
}
/* Estilos de Parrafos en article*/
article article .text-big {
  font: 400 3.2rem/1.4 Ubuntu;
  letter-spacing: 1pt;
}
article article p {
  padding: 2rem 0 6rem 0;
  font: 300 3rem/1.4 Ubuntu;
}
article article ul {
  padding: 2rem 0 4rem 0;
}
article article li {
  font: 300 3rem/1.6 Ubuntu;
  list-style: disc inside;
}
article article a {
  color: #3dbce6;
}
/* Enlaces  */
.enlaces {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}
.enlaces a {
  padding: 1.6rem;
  outline: solid 2px #3dbce6;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
  font: 400 3rem Ubuntu;
}
.enlaces a:hover {
  color: #fff;
  background: #080c3f;
  outline: transparent;
}
/* Contenedor de uls */
.wrapper-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.wrapper-ul div {
  max-width: 45%;
}
/* Estilos de enlaces de contacto */
.mailing-list address {
  font-style: normal;
}
.mailing-list li {
  height: auto;
  padding-bottom: 1rem;
  width: 90%;
  display: flex;
}
.mailing-list a {
  padding: 1.6rem;
  outline: solid 2px #3dbce6;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
  font: 400 3rem Ubuntu;
}
.mailing-list a:hover {
  color: #fff;
  background: #080c3f;
  outline: transparent;
}
.mailing-list strong {
  font: 300 3rem Ubuntu;
  align-self: center;
  width: 240px;
}
/* Responsive Design */
@media screen and (max-width: 2560px) {
  .mailing-list a {
    padding: 1rem;
    font: 400 2rem Ubuntu;
  }
  .mailing-list strong {
    font: 300 2rem Ubuntu;
    width: 200px;
  }
}
@media screen and (max-width: 1920px) {
  .main-content {
    width: 70%;
  }
  .main-content > header {
    padding: 6rem 0 4rem 0;
  }
  .main-content > header h1 {
    font: italic 300 5rem Ubuntu;
  }
  article article .text-big {
    font: 300 2.4rem/1.4 Ubuntu;
  }
  article article p {
    font: 300 2.2rem/1.4 Ubuntu;
  }
  article article ul li {
    font: 300 2.2rem/1.6 Ubuntu;
  }
  .enlaces a {
    font: 400 2.2rem Ubuntu;
  }
  section header h2 {
    font: 700 3.6rem Ubuntu;
  }
  section h3 {
    font: 400 3.2rem Ubuntu;
  }
  .mailing-list a {
    font: 400 1.4rem Ubuntu;
  }
  .mailing-list strong {
    font: 300 1.4rem Ubuntu;
    width: 120px;
  }
}
@media screen and (max-width: 1440px) {
  .main-content {
    width: 60%;
  }
  .main-content > header {
    padding: 2rem 0 4rem 0;
  }
  .main-content > header h1 {
    font: 300 3.8rem Ubuntu;
  }
  article article .text-big {
    font: 300 2rem/1.4 Ubuntu;
  }
  article article p {
    padding: 2rem 0 2rem 0;
    font: 300 1.6rem/1.2 Ubuntu;
  }
  article article ul li {
    font: 300 1.6rem/1.4 Ubuntu;
  }
  .enlaces a {
    padding: 1rem;
    font: 400 1.6rem Ubuntu;
  }
  section header {
    border-bottom: solid 5px #e63d67;
    padding: 1.6rem;
  }
  section header h2 {
    font: 700 2.6rem Ubuntu;
  }
  section h3 {
    font: 400 2.2rem Ubuntu;
  }
}
@media screen and (max-width: 1366px) {
  .main-content > header {
    padding: 2rem 0 4rem 0;
  }
  .main-content > header h1 {
    font: italic 300 3rem Ubuntu;
  }
  section article article {
    padding-top: 1rem;
  }
  article article .text-big {
    font: 300 1.4rem Ubuntu;
    letter-spacing: 0;
  }
  article article p {
    padding: 2rem 0 2rem 0;
    font: 300 1rem/1.2 Ubuntu;
  }
  article article ul li {
    font: 300 1rem/1.4 Ubuntu;
  }
  .enlaces a {
    font: 400 1rem Ubuntu;
  }
  section {
    padding-bottom: 2rem;
/* Headers de Articles */
/* Subtitulo H3 */
  }
  section header {
    border-bottom: 2px solid #e63d67;
    padding: 1.4rem;
  }
  section header h2 {
    font: 700 2rem Ubuntu;
  }
  section h3 {
    font: 400 1.6rem Ubuntu;
  }
  .mailing-list li a {
    font-size: 1rem;
  }
  .mailing-list li strong {
    font-size: 1rem;
    width: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .main-content {
    width: 90%;
/* Estilos de sections */
  }
  .main-content > header {
    padding: 2rem 0 2rem 0;
    justify-content: center;
  }
  section header {
    border-right: 0;
/* Subtitulo H2 */
  }
  section header h2 {
    text-align: left;
  }
  .mailing-list a {
    font: 400 1rem Ubuntu;
  }
  .mailing-list strong {
    font: 300 1rem Ubuntu;
    width: 80px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper-ul div {
    max-width: 100%;
  }
}
