/* Layout Blog */
/* Cabecera de página */
.header-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
  width: 100%;
  padding-top: 8rem;
  text-align: center;
/* Titulo de página H1 */
/* Descripcion de página H2 */
}
.header-page h1 {
  font: italic 300 8rem Ubuntu;
  color: #e63d67;
}
.header-page h2 {
  font: 300 4rem/1 Ubuntu;
  letter-spacing: -1pt;
  color: #3dbce6;
}
/* Espacio de publicidad */
.space-ads-horizontal {
  padding: 2rem;
  margin: 4rem auto;
  max-width: 1920px;
  outline: solid 1px #f00;
}
.space-ads-vertical {
  padding: 2rem;
  margin: 2rem auto;
  outline: solid 1px #f00;
}
/* Contenedor de página */
.wrapper-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10rem 0 10rem 0;
}
/* Contenido */
main {
  width: 90%;
  max-width: 1920px;
}
/* Informacion y Publicidad */
aside {
  width: 20%;
  padding: 2rem;
}
aside h4 {
  font: italic 300 2.4rem Ubuntu;
  padding: 1rem;
}
/* Post solo*/
.wrapper-post {
  display: flex;
  flex-wrap: wrap;
/* Container Iframe */
}
.wrapper-post h1 {
  font: 500 5rem/1.2 Ubuntu;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: solid 4px #e63d67;
}
.wrapper-post h2 {
  font: 400 4rem/1.2 Ubuntu;
  margin-bottom: 2rem;
  padding: 4rem 0 1rem 0;
  width: 100%;
  border-bottom: solid 4px #e63d67;
}
.wrapper-post p {
  font: 300 3rem/1.2 Ubuntu;
  padding: 1rem 0 1rem 0;
}
.wrapper-post figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  width: 100%;
}
.wrapper-post img {
  width: auto/9;
  height: auto;
  max-width: 1024px;
}
.wrapper-post figcaption {
  padding-top: 1rem;
  font: italic 300 2rem/1.2 Ubuntu;
}
.wrapper-post .wrapper-iframe {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.wrapper-post .wrapper-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
