@charset "UTF-8"

@import "../styles/reset.styl"

/* Importando fuentes tipográficas */
@font-face
  font-family "DM Serif Display"
  font-style normal
  font-weight 400
  font-display swap
  src url(/fonts/DMSerifDisplay-Regular.ttf) format("truetype")


@font-face 
  font-family "Open Sans"
  font-style normal
  font-weight 400
  font-display swap
  src url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype")
  
/* Colores */
hardWhite = #FFFFFF
greenLiquid = #A0EAEB
greenPastel = #6AC8C7
greenMate = #0FAAA7
greenPure = #0D8796
hardGreen = #054d56

puntadaDelgada = dashed clamp(1px, 0.1vw, 0.2vw)

/* Body */
body
  background hardWhite
  background-image repeating-linear-gradient(to right, rgba(160, 234, 235, .5), rgba(160, 234, 235, .5) 2px, hardWhite 2px, hardWhite)
  background-size 32px 32px
  width 100%
  color hardWhite
  font-size clamp(16px, 1vw, 1.1vw)
  font-family 'Open Sans',Helvetica,Arial,sans-serif
  background-color hardWhite
  z-index 0

/* Selección */
::selection
  background greenLiquid
  text-shadow none

/*
 * A better looking default horizontal rule
 */
hr
  display block
  height 1px
  border 0
  border-top 1px solid hardGreen
  margin 1em 0
  padding 0

/* Enlaces */
a
  color greenPure
  text-decoration none
  transition all 0.2s ease
  &:hover
    color hardGreen

/* Cabecera principal */
#main-header
  width 100%
  display grid
  grid-template-columns 10vw 1fr 5vw
  grid-template-rows 1fr
  align-items center
  align-content center
  position relative
  animation aparecer 1s ease

/* Animación de parecer */
@keyframes aparecer
  0%
    opacity 0
  100%
    opacity 100%

/* Logotipo */
#logo
  background url("/designer/edgarcornejo.svg") no-repeat center center greenMate
  background-size auto 50%
  height 100%
  border-radius 0 0 radius 0

/* Título de página */
.name-title
  height 100%
  display flex
  align-items center
  h1
    font-size clamp(28px, 1.6vw, 1.7vw)
    letter-spacing 1pt
    padding onespace

/* Nav Header */
nav
  display flex
  justify-content center
  background greenMate
  height 100%
  align-items center
  border-radius 0 0 0 radius
  .open-menu,.closed-menu
    user-select none
    cursor pointer
    display block
    img
      min-width 48px
      width 2vw
      height auto
  .closed-menu
    display none
  menu
    display none
  li
    border-bottom dashed 2px greenMate
    padding onespace
  a
    color hardGreen
    padding onespace
    &:hover
      background greenLiquid
      border-radius radius

.input-menu
  display none
  &:checked ~ nav
    .open-menu
      display none
    .closed-menu
      user-select none
      cursor pointer
      display block
    menu
      display flex
      flex-direction column
      gap 1rem
      position fixed
      top 10vh
      right 5vw
      text-align right
      background hardWhite
      border-radius radius
      padding onespace

/* Contenedor principal */
#main-content
  width 100%
  height auto
  margin 0 auto

/* Contenedor de artículos */
.wrapper-article
  padding 12vh 0 12vh 0
  /* Estilos para wrapper impares */
  &:nth-child(odd)
    background greenPure
    color hardWhite
    background-size 32px 32px
    background-image repeating-linear-gradient(to right, rgba(5, 77, 86, .5), rgba(5, 77, 86, .5) 2px, greenPure 2px, greenPure)
    .wrap-txt
      opacity 0.8
  /* Estilos para wrapper pares */
  &:nth-child(even)
    figure
      justify-content flex-end
      border-bottom puntadaDelgada greenMate
      border-bottom-right-radius radius
    header
      color hardGreen
      justify-content flex-end
    .wrap-txt
      color greenPure
      text-align right
      border-right thickline greenPure
      border-bottom-right-radius radius
      padding-right 2rem
      div
        align-self flex-end
      a
        color greenPure
        border-bottom puntadaDelgada greenMate
  
  /* Artículos */
  article
    width 90%
    margin 0 auto
    display flex
    flex-direction column
    gap onespace 0

  /* Imagen de Articulo */  
  figure
    margin 0 auto
    width 100%
    display flex
    justify-content flex-start
    border-bottom puntadaDelgada hardWhite
    border-bottom-left-radius radius
    img
      max-width 20%
    figcaption
      color transparent
      font-size 0
      display none

  /* Header de article H2*/
  header
    width 100%
    margin 0 auto
    display flex
    justify-content flex-start
    padding-top thirdspace
    h2
      font-family 'DM Serif Display'
      font-size clamp(36px, 6vw, 6.1vw)
      font-weight 800
      line-height 90%
      letter-spacing 3pt

  /* Contenedor de texto de article */
  .wrap-txt
    width 100%
    display flex
    justify-content flex-start
    flex-direction column
    border-left thickline hardWhite
    border-bottom-left-radius radius
    padding-left onespace
    div
      max-width 900px
    p, blockquote
      font-weight 500
      hyphens none
      padding-bottom onespace
    blockquote
      font-style italic
    strong
      font-weight 600
    a
      color hardWhite
      border-bottom puntadaDelgada hardWhite

/* Lista de servicios */
#list-services
  display flex
  justify-content center
  flex-wrap wrap
  gap twospace
  padding-top twospace

.item-services
  min-width 180px
  div
    margin 0 auto
    width 100px
    height 100px
    background-image url("/designer/iconos-servicios.svg")
    background-repeat no-repeat
    border-radius 25%
    transition all 0.1s ease-out
    &:hover
      transform scale(1.1)
  &:nth-of-type(2) div
    background-position center -124.42px
  &:nth-of-type(3) div
    background-position center -249px
  &:nth-of-type(4) div
    background-position center -373px
  &:nth-of-type(5) div
    background-position center -497px
  &:nth-of-type(6) div
    background-position center -622px
  &:nth-of-type(7) div
    background-position center -747px
  &:nth-of-type(8) div
    background-position center -871px
  &:nth-of-type(9) div
    background-position center -995px
  &:nth-of-type(10) div
    background-position center -1119px
  /* Titulo del servicio */
  h3
    font-size clamp(20px, 1.4vw, 1.5vw)
    font-weight 800
    color greenPastel
    padding-top onespace
    text-align center
    text-transform uppercase

/* Footer */
#footer
  width 100%
  display grid
  grid-template-columns 10vw 1fr 30vw
  grid-template-rows 1fr
  align-items center
  align-content center

#logo-footer
  background url("/designer/edgarcornejo.svg") no-repeat center center greenMate
  background-size auto 50%
  height 100%
  border-radius 0 radius 0 0

#copyright
  height 100%
  color greenMate
  display flex
  align-items center
  small
    padding onespace
    text-transform uppercase

/* Botonera Social Footer */
#wrap-social
  background greenMate
  border-radius radius 0 0 0
  height 100%
  display flex
  justify-content center
  align-items center
  .social-footer
    width 100%
    display flex
    align-items center
    flex-wrap wrap
    justify-content space-around
    gap onespace
    a
      background url("/img/icon-social.svg") no-repeat greenPastel
      background-size cover
      width 48px
      height 48px
      border-radius radius
      font-size 0
      transition all 0.4s ease
      &:hover
        background-color greenPure
      &:nth-child(1)
        background-position -48px 0
      &:nth-child(2)
        background-position 0 0
      &:nth-child(3)
        background-position -96px 0
      &:nth-child(4)
        background-position -336px 0
      &:nth-child(5)
        background-position -240px 0
      &:nth-child(6)
        background-position -288px 0

/* Responsive Design */
@media screen and (max-width:1024px)
  #main-header
    grid-template-columns 1fr
  
  #logo
    width 100%
    height 48px
    border-radius 0
  
  .name-title
    justify-content center
    text-align center
  
  nav
    border-radius 0

  .input-menu
    &:checked ~ nav
      menu
        left 0
        right 0
        top 40vh
        text-align center

  .wrapper-article
    &:nth-child(even)
      figure
        justify-content center
      header
        justify-content center
      .wrap-txt
        justify-content center
        border 0
        padding 0
        text-align left
    /* Imagen de Articulo */  
    figure
      justify-content center
      img
        max-width 40%
    /* Header de article H2*/
    header
      justify-content center
      h2
        font-size max(9vw, 9vw)
    /* Contenedor de texto de article */
    .wrap-txt
      justify-content center
      border 0
      padding 0
  
  #footer
    grid-template-columns 1fr
  
  #logo-footer
    height 48px
    border-radius 0

  #copyright
    justify-content center
    text-align center

  #wrap-social
    padding onespace