@charset "UTF-8"
/* importando reset */
@import "../styles/reset.styl";
/* importando variables */
@import "../styles/variables.styl";
/* importando fuentes tipográficas*/
@import "../styles/fonts.styl";

/* Colores */
blueDev-50 = #ebf3ff
blueDev-100 = #dbe9ff
blueDev-200 = #bed5ff
blueDev-300 = #96b9ff
blueDev-400 = #6d91ff
blueDev-500 = #4b69ff
blueDev-600 = #2b3eff
blueDev-700 = #2a37e4
blueDev-800 = #1d2ab6
blueDev-900 = #202c8f
blueDev-950 = #131853
eWhite = #F2F2F2
eRed = #e63d67

/* Estilos ScrollBar */
html
  scrollbar-color blueDev-950 blueDev-900
  scrollbar-width thin

/* Estilos de selección */
::selection
  color eWhite
  background-color eRed

/* Títulos */
h1,h2,h3,h4,h5,h6
	text-transform uppercase
	line-height 1.4
	letter-spacing 1pt
	padding onespace 0 onespace 0
	margin-bottom onespace

h1
	font-size clamp(36px, 3vw, 3.1vw)
	font-weight 900
h2
	font-size clamp(32px, 2.6vw, 2.7vw)
	font-weight 800
h3
	font-size clamp(28px, 2.2vw, 2.3vw)
	font-weight 700
h4
	font-size clamp(24px, 1.8vw, 1.9vw)
	font-weight 600
h5
	font-size clamp(20px, 1.4vw, 1.5vw)
	font-weight 500
h6
	font-size clamp(16px, 1vw, 1.1vw)
	font-weight 400

/* enlaces */
a
	color eWhite
	transition all 0.2s ease-in-out
	&:hover
		color blueDev-500

p
	a
		transition all 0.2s ease-in-out
		border-bottom thinline blueDev-950
		color blueDev-950
		&:hover
			opacity 0.8

/* Estilos de Body */
body
	font-size clamp(16px, 1vw, 1vw)
	font-weight 300
	line-height 1.2
	hyphens none
	font-family "Outfit", sans-serif
	font-optical-sizing auto
	color blueDev-950
	background-color eWhite
	background linear-gradient(90deg, eWhite 20px, transparent 1%) center, linear-gradient(eWhite 20px, transparent 1%) center, rgba(61, 188, 230, 0.5)
	background-size 22px 22px

/* Estilos componente MainHeaderView */
@import "../styles/MainHeaderView.styl"
	
/* Contenedor principal de contenido */
#main-content
	width 100%
	min-height 100vh
	padding twospace 0 0 0

main
	scroll-snap-type y proximity
	scroll-padding-top thirdspace
	section
		margin-bottom twospace
		padding-top twospace
		scroll-snap-align start
		display flex
		justify-content center
	article
		display flex
		flex-direction column
		width 90%
	.parrafo
		max-width 900px
		margin-bottom twospace
	p
		padding-bottom onespace
	strong
		font-weight 600

.sushi-container
	display grid
	grid-template-columns 1fr 1fr
	grid-auto-rows auto
	align-items center
	gap onespace
	header,.omakase,.tuna
		border-radius radius
		padding onespace
		height 100%
	header
		align-content flex-end
	.omakase
		align-self flex-start
		display grid
		grid-template-columns auto 1fr
		align-items flex-start
		gap onespace
		h3
			font-weight 200
			align-content center
			border-radius radius
			padding onespace
			cursor pointer
	.tuna
		height 100%
		align-content center
		grid-column-start 2
		grid-row 1 / 3
	h2,h3
		margin 0
		padding 0

/* Proyectos en Index */
.marcas-container
	display grid
	grid-template-columns repeat(auto-fit, minmax(120px, 1fr))
	grid-auto-rows auto
	justify-content center
	gap onespace
	div
		border thinline blueDev-200
		border-radius radius
		padding onespace 0 onespace 0
	a
		&:hover img
			opacity 1
	img
		height auto
		width 100%
		min-width 48px
		opacity 0.4

/* Estilos de componente ListPosts - InfoContact - IconSocial - CategoryCloud*/
address
	font-style normal
	a
		text-transform lowercase !important

.lista-enlaces
	width 100%
	display flex
	flex-wrap wrap
	gap onespace
	margin-bottom onespace
	li
		list-style none
	a
		text-transform capitalize
		padding onespace
		border-radius radius
		color eWhite
		background blueDev-900
		&:hover
			background eRed
	.ultimo-enlace
		color eWhite
		background blueDev-600
		&:hover
			color eWhite
			background eRed

/* estilos componente FooterView */
#footer
	margin 0 auto
	padding twospace 0 twospace 0
	text-align center
	border-radius radius radius 0 0
	background blueDev-950
	background-size 21% 21%
	background-image repeating-linear-gradient(
		to left, 
		blueDev-800, 
		blueDev-800 4px,
		blueDev-950 4px, 
		blueDev-950)
	a
		color eWhite

/* Páginas presentación y portafolio
 	Navegación por página */
.navigator
	ol
		width 90%
		margin 0 auto
		display flex
		justify-content center

.wrapper-details
	width 100%
	summary
		color eWhite
		&::marker
			content none
	details
		&:nth-of-type(1) summary
			background blueDev-950
		&:nth-of-type(2) summary
			background blueDev-900
		&:nth-of-type(3) summary
			background blueDev-800
	p
		padding onespace
	h3
		font-weight 200
		align-content center
		border-radius radius
		padding onespace
		cursor pointer
	
/* Contenedor de uls */
.wrapper-ul
	display flex
	flex-wrap wrap
	justify-content space-around
	gap onespace
	div
		max-width 45%
	h3
		font-weight 200
		align-content center
		border-radius radius
		padding onespace
	li
		line-height 160%
		list-style disc inside

/* Pagina de portafolio*/
.wrapper-gallery-work
	display grid
	grid-template-columns repeat(auto-fit, minmax(600px, 1fr))
	grid-auto-rows auto
	width 100%
	gap twospace

.gallery-cell
	padding onespace
	border-radius radius
	outline thinline blueDev-400
	position relative
	overflow hidden
	&:hover
		background eWhite
		color transparent
		box-shadow shadow-hover
		img
			opacity 1
			width 90%
		figcaption
			opacity 1
	figure
		text-align center
		position absolute
		left 0
		right 0
	figcaption
		color transparent
		position absolute
		font-size smaller
		top 0
		left 0
		opacity 0
		background blueDev-950
		color eWhite
		padding .4vw
		border-radius 0 radius radius 0
		transition all .4s ease
	img
		height auto
		width 0%
		transition all .4s ease
		border-radius radius
		opacity 0
	h3
		font-size clamp(20px, 1.4vw, 1.5vw)
		font-weight 700
		overflow hidden
	p
		opacity .7
	a
		position absolute
		background blueDev-950
		border-radius radius
		padding onespace
		bottom 0
		right 0
		z-index 1
		&:hover
			background eRed
			color eWhite

/* Pagina de Publicaciones */
/* estilos componente AdsArea */
.ads-area
	padding onespace
	margin twospace 0 twospace 0

/* estilos componente Pagination */
.pagination
	width 100%
	height auto
	display flex
	flex-wrap wrap
	justify-content center
	align-items center
	gap 0 twospace
	padding onespace 0 onespace 0
	a
		background blueDev-100
		border-radius radius
		padding onespace
		letter-spacing 1pt
		color blueDev-950
		&:hover
			background blueDev-950
			color eWhite
			&:nth-child(odd)
				transform translatex(-.4rem)
			&:nth-child(even)
				transform translatex(.4rem)

.wrapper-post
	display grid
	grid-template-columns repeat(auto-fit, minmax(25vw, 1fr))
	grid-auto-rows auto
	gap twospace
	padding onespace 0 onespace 0
	article
		padding onespace
		outline thinline blueDev-300
		border-radius radius
		box-shadow shadow
		&:hover
			background blueDev-50
			box-shadow shadow-hover
	a
		color blueDev-950
		display grid
		grid-template-columns 1fr 1fr
		grid-auto-rows auto
		gap onespace
		&:hover
			color inherit
	h3
		grid-column-start span 2
		font-size clamp(20px, 1.4vw, 1.5vw)
		font-weight 200
		padding 0
		margin 0
		overflow hidden
		display -webkit-box
		-webkit-box-orient vertical
		-webkit-line-clamp 1
	figure
		width 100%
		display flex
	figcaption
		position absolute
		background blueDev-950
		border-radius radius
		color eWhite
		padding onespace
	img
		width 100%
		height auto
		object-fit cover
		aspect-ratio 1/1
		border-radius radius
	p
		overflow hidden
		display -webkit-box
		-webkit-box-orient vertical
		-webkit-line-clamp 5
		padding-top onespace

.aside-bottom
	padding twospace 0 twospace 0

/* Layout Blog */
.wrapper-content
	width 90%
	margin 0 auto
	display grid
	grid-template-columns 1fr 20vw
	gap onespace

/* Estilos de MD */
#wrapper-post
	ul
		display flex
		width 100%
		flex-flow column wrap
		padding onespace 0 onespace 0
	li
		list-style disc inside
		&::marker
			color eRed
	figure
		display flex
		flex-direction column
		align-items center
		padding twospace 0 twospace 0
		width 100%
	img
		width auto/9
		height auto
		max-width 30vw
		border-radius radius
	figcaption
		padding-top onespace
		a
			color blueDev-800
	pre
		padding onespace
		background blueDev-100
		border-radius radius
		overflow-x auto
		margin-bottom onespace

/* Container Iframe */
.wrapper-iframe
	margin-top 2vh
	position relative
	overflow hidden
	width 100%
	padding-top 56.25%
	iframe
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		width 100%
		height 100%

/* Información y Publicidad */
.aside-blog
	div
		margin-bottom twospace
	.info-post
		img
			margin-bottom twospace

/* Componente RelatedPost */
#related-post
	width 100%
	display flex
	flex-wrap wrap
	gap onespace
	padding onespace
	a
		display flex
		flex-flow column wrap
		gap onespace
		background eRed
		color eWhite
		padding onespace
		border-radius radius
		text-align center
		&:hover
			background blueDev-950
	span
		font-size clamp(16px, 0.8vw, 0.9vw)
		opacity .7

/* importando Media Queries */
@import "../styles/mediaqueries.styl";
/* importando animaciones */
@import "../styles/animations.styl";
