/* Variables */
/* Colores */
/* Estilos de Body */
body {
  font-size: 16px;
  background: #fff;
  font-family: 'Outfit', Helvetica, Arial, sans-serif;
  color: #080c3f;
  background: linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, #bfeee7;
  background-size: 22px 22px;
}
/* Contenedor principal de página */
.main-content {
  width: 100%;
  padding: 2vh 0 2vh 0;
/* Contenedor de sections*/
}
.main-content main {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}
/* Navegación por página */
/* Páginas presentación y portafolio */
.navigator {
  position: fixed;
  margin-top: 6vh;
  left: 2vw;
}
.navigator ol {
  display: flex;
  flex-direction: column;
}
.navigator li {
  display: flex;
  height: 4vh;
}
.navigator a {
  align-self: center;
  color: #3dbce6;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 1vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigator a:hover {
  color: #080c3f;
}
.main-content > header {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  text-align: center;
  padding: 8vh 0 4vh 0;
  background: radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#3dbce6 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #3dbce6 2px, #fff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
/* Titulo de página H1 */
/* Solo en la página de Publicaciones */
}
.main-content > header h1 {
  font-size: 4vw;
  font-weight: 600;
  color: #e63d67;
  line-height: 140%;
}
.main-content > header h2 {
  font-size: 2vw;
  font-weight: 300;
  line-height: 140%;
}
/* Estilos de sections */
section {
  width: 100%;
/* Article Contenedor */
/* Headers de Articles */
/* Subtitulo H2 */
/* Subtitulo H3 */
/* Subtitulo H4 */
}
section article {
  display: flex;
  flex-direction: column;
  padding: 2vh 0 2vh 0;
/* Article para parrafos */
}
section article article {
  align-self: center;
  width: 90%;
}
section header {
  border-bottom: solid 0.4vh #bfeee7;
  padding: 1vw;
}
section h2 {
  font-size: 2vw;
  line-height: 140%;
  font-weight: 500;
  text-align: right;
  color: #3dbce6;
}
section h3 {
  font-size: 1.6vw;
  font-weight: 500;
  color: #3dbce6;
  line-height: 140%;
}
section h4 {
  font-size: 1.4vw;
  font-weight: 500;
  padding: 1rem 0 1rem 0;
  line-height: 140%;
  color: #3dbce6;
}
/* Estilos de Parrafos en article*/
article article p {
  padding: 2vh 0 4vh 0;
  font-size: 1.2vw;
  line-height: 140%;
  hyphens: none;
  font-weight: 300;
}
article article .text-big {
  font-size: 1.4vw;
  font-weight: 400;
}
article article ul {
  padding: 2vh 0 4vh 0;
}
article article li {
  font-size: 1.2vw;
  line-height: 160%;
  font-weight: 300;
  list-style: disc inside;
}
article article a {
  color: #673de6;
  font-weight: 400;
  border-bottom: dashed 0.2vh #673de6;
}
article article a:hover {
  color: #080c3f;
}
/* Enlaces  */
.enlaces {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.enlaces a {
  padding: 1vw;
  border-radius: 0.2vw;
  border: 0;
  transition: all 0.1s ease-in-out;
  font-size: 1.2vw;
  font-weight: 400;
  color: #fff;
  background: #673de6;
}
.enlaces a:hover {
  color: #fff;
  background: #080c3f;
}
/* Contenedor de uls */
.wrapper-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.wrapper-ul div {
  max-width: 45%;
}
.aside-bottom {
  padding: 2vh 0 2vh 0;
  width: 100%;
}
/* Responsive Design */
@media screen and (max-width: 1920px) {
  .main-content > header {
    background: radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#3dbce6 1.4px, transparent 1.4px) 0 -1px, linear-gradient(90deg, #3dbce6 1.4px, #fff 1.4px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  }
  .main-content main {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .navigator {
    position: static;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 2vh;
  }
  .navigator ol {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .navigator a {
    font-size: 1em;
  }
  .main-content > header {
    padding: 12vh 0 6vh 0;
/* Titulo de página H1 */
  }
  .main-content > header h1 {
    font-size: 6vw;
  }
  .main-content main {
    width: 90%;
  }
  section h2 {
    font-size: 4vw;
  }
  section h3 {
    font-size: 3vw;
  }
  section h4 {
    font-size: 2.6vw;
  }
  article article p {
    font-size: 1em;
  }
  article article .text-big {
    font-size: 1.2em;
  }
  article article li {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 768px) {
  .navigator {
    display: none;
  }
  section h2 {
    font-size: 2em;
  }
  section h3 {
    font-size: 1.6em;
  }
  section h4 {
    font-size: 1.2em;
  }
  .wrapper-ul div {
    max-width: 100%;
  }
  .enlaces a {
    padding: 1rem;
    font-size: 1em;
  }
}
