.container-logo-menu {
  background: blueDev-950;
  background-size: 21% 21%;
  background-image: repeating-linear-gradient(to left, blueDev-800, blueDev-800 4px, blueDev-950 4px, blueDev-950);
  padding: onespace;
  display: grid;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  grid-template-columns: minmax(44px, 1fr) 1fr;
}
.container-logo-menu:hover .wrapper-h1-h2:before {
  transform: translateY(200%);
}
.container-logo-menu div a {
  display: inline-block;
}
.container-logo-menu img {
  height: clamp(32px, 2vw, 2.1vw);
  width: auto;
}
.container-logo-menu button {
  cursor: pointer;
  justify-self: flex-end;
  background: none;
  border: none;
}
#main-menu {
  width: 80vw;
  animation: menu 0.4s ease-in;
  margin: 0 auto;
  background: blueDev-950;
  box-shadow: shadow;
  border: none;
  border-radius: radius;
  transition: translate 0.4s ease, display 0.4s ease allow-discrete, overlay 0.4s ease allow-discrete;
}
@starting-style {
  opacity: 0;
  top: -100%;
}
#main-menu menu {
  display: flex;
  flex-direction: column;
  padding: twospace;
}
#main-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: clamp(36px, 2vw, 2.1vw);
  border-bottom: thinline blueDev-900;
  padding: onespace 0 onespace 0;
}
#main-menu a {
  cursor: pointer;
  letter-spacing: 1pt;
  color: eWhite;
}
#main-menu a:hover {
  letter-spacing: 0;
}
#main-menu button {
  margin: 0 auto;
  display: block;
  padding-bottom: onespace;
}
[popover]::backdrop {
  transition: all 0.4s ease-in;
  background: linear-gradient(to top, rgba(235,243,255,0.8), rgba(19,24,83,0.8));
  mix-blend-mode: multiply;
  backdrop-filter: grayscale(100%) blur(2px);
}
/* estas en esta página */
.li-current {
  text-transform: uppercase;
  font-weight: 700;
}
#main-header {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 radius radius;
  background: blueDev-950;
  background-size: 21% 21%;
  background-image: repeating-linear-gradient(to left, blueDev-800, blueDev-800 4px, blueDev-950 4px, blueDev-950);
}
#main-header:hover .wrapper-h1-h2:before {
  transform: translateY(100%);
}
.wrapper-h1-h2 {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  color: eWhite;
  border-top: midline eWhite;
  position: relative;
}
.wrapper-h1-h2:before {
  content: '';
  position: absolute;
  background: eWhite;
  border-radius: 0 0 radius 0;
  width: 2vw;
  height: 5vw;
  right: 0;
  transition: all 0.4s ease-in-out;
}
.wrapper-h1-h2 .title {
  font-size: clamp(36px, 3vw, 3.1vw);
  position: relative;
  bottom: 0;
  opacity: 1;
  animation: titulo1 0.4s ease both;
  padding: onespace 0 0 0;
  margin: 0;
}
.wrapper-h1-h2 .title:after {
  border-radius: radius;
  content: '';
  position: absolute;
  background: linear-gradient(to left, eWhite, blueDev-950);
  width: 100%;
  inset: 0;
  opacity: 0.1;
}
.wrapper-h1-h2 .subtitle {
  font-size: clamp(20px, 1.4vw, 1.5vw);
  position: relative;
  font-weight: 200;
  animation: titulo2 0.4s ease both;
  animation-delay: 0.2s;
}
.wrapper-h1-h2 a {
  border-bottom: thinline eWhite;
}
.wrapper-h1-h2 a:hover {
  color: blueDev-300;
}
#bottom-call {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  animation: callme 0.6s ease-in-out both;
  animation-delay: 0.4s;
}
#bottom-call div {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
#bottom-call a {
  padding: onespace;
  border-radius: radius;
  background: #075e54;
  box-shadow: shadow;
  color: eWhite;
  font-weight: 900;
  letter-spacing: 1pt;
  gap: onespace;
  transition: all 0.4s ease-in-out;
}
#bottom-call a:hover {
  opacity: 1;
  box-shadow: shadow-hover;
}
/* Animaciones */
/* H1 y H2 */
/* callme */
@-moz-keyframes menu {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes menu {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes menu {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes titulo1 {
  from {
    opacity: 0;
    bottom: 100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@-webkit-keyframes titulo1 {
  from {
    opacity: 0;
    bottom: 100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@-o-keyframes titulo1 {
  from {
    opacity: 0;
    bottom: 100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes titulo1 {
  from {
    opacity: 0;
    bottom: 100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@-moz-keyframes titulo2 {
  from {
    opacity: 0;
    bottom: 50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@-webkit-keyframes titulo2 {
  from {
    opacity: 0;
    bottom: 50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@-o-keyframes titulo2 {
  from {
    opacity: 0;
    bottom: 50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes titulo2 {
  from {
    opacity: 0;
    bottom: 50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@-moz-keyframes callme {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes callme {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes callme {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes callme {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
