@charset "UTF-8"

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
    font-size 100%
    outline 0
    text-rendering optimizeLegibility

/* Reseteamos los margin y paddings de todas las etiquetas */
* 
    margin 0
    padding 0
    border 0
    -webkit-box-sizing border-box
    box-sizing border-box
    vertical-align baseline

/* Reset Img */
img
    vertical-align middle

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure
    max-width 100%
    width 100%
    display block
    -o-object-fit cover
    object-fit cover
    -o-object-position center center
    object-position center center

/* Etilos enlaces */
a
    display block
    text-decoration none
    font-size inherit
    &:hover
        color rgb(8, 12, 63) 

/* ... excepto los que se encuentran en párrafos */
p a
    display inline
    color rgb(61, 188, 230)

/* Reset Li */
li
    list-style none

/* Responsive */
@viewport
    width device-width

/* Estilos ScrollBar */
::-webkit-scrollbar
    width 15px

::-webkit-scrollbar-track
    background rgb(191, 238, 231)

::-webkit-scrollbar-thumb
    border-radius 5px
    background rgb(61, 188, 230)

/* Estilos de Body */
body
    background rgb(255, 255, 255)
    font-family 'Ubuntu',Helvetica,Arial,sans-serif
    font-variant-ligatures no-common-ligatures
    width 100%
    height 100%
    color rgb(8, 12, 63)
    background linear-gradient(90deg, rgb(255, 255, 255) 20px, transparent 1%) center, linear-gradient(rgb(255, 255, 255) 20px, transparent 1%) center, rgb(191, 238, 231)
    background-size 22px 22px

/* Configuramos la tipografía para toda la web */
body
    min-height 100vh
    font-size 100%
    /* opcional */
    line-height 1.4em
    /* opcional */
    -webkit-hyphens auto
    -ms-hyphens auto
    hyphens auto
    /* opcional */
    font-smooth always
    /* opcional */
    -webkit-font-smoothing antialiased
    /* opcional */
    -moz-osx-font-smoothing grayscale

html
    scroll-behavior smooth

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em
    font-size 1em
    font-weight inherit
    font-style inherit
    text-decoration none
    color inherit

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after
    content ""
    content none

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label
    font-family inherit
    font-size inherit
    -webkit-hyphens auto
    -ms-hyphens auto
    hyphens auto
    background-color transparent
    color inherit
    display block
    /* opcional */
    -webkit-appearance none
    -moz-appearance none
    appearance none

/* Reseteamos las tablas */
table, tr, td
    border-collapse collapse
    border-spacing 0

/* Evitamos problemas con los SVG */
svg
    width 100%
    display block
    fill currentColor

/* Animación básica */
.anin-rapido
    transition all .1s ease-in-out

.anin-normal
    transition all .2s ease-in-out

.anin-lento
    transition all .3s ease-in-out

/* Logotipo principal */
@keyframes logo
    from
        opacity 0
        left -100px
    to
        opacity 1
        left 80px

/* Menu y callme */
@keyframes callme
    from
        opacity 0
    to
        opacity 1

/* H1 y H2 */
@keyframes titulo1
    from
        opacity 0
        bottom 100px
    to
        opacity 1
        bottom 0

@keyframes titulo2
    from
        opacity 0
        bottom 50px
    to
        opacity 1
        bottom 0