space = clamp(8px, .5vw, .5vw)
onespace = clamp(16px, 1vw, 1vw)
twospace = clamp(32px, 2vw, 2vw)
thirdspace = clamp(48px, 3vw, 3vw)
fourtspace = clamp(64px, 4vw, 4vw)
thinline = clamp(1px, .2vw, .2vw)
midline = clamp(3px, .4vw, .4vw)
thickline = clamp(6px, 1vw, 1vw)
radius = clamp(6px, .4vw, .4vw)
insetshadow = 0 0 2vw
shadow = 0 thinline midline
shadow-hover = 0 midline thickline