---
import Layout from "../layouts/Layout.astro";
import "../styles/layout.css";
---

<Layout
    title="Contacto - Edgar Cornejo, Diseñador gráfico, desarrolador Web front-end y Posicionamiento en Internet."
>
    <div class="main-content">
        <header>
            <h1>Contacto</h1>
        </header>

        <main>
            <section id="design">
                <article>
                    <header>
                        <h2>Me encantaría escucharte</h2>
                    </header>

                    <article>
                        <p>
                            Actualmente me encuentro en Arequipa, Perú. El
                            horario de atención es de Lunes a Viernes desde las
                            09:00 a.m. a 15:00 p.m. Solo atención en línea.
                            Consultas o presupuestos, envía un correo a
                            info@edgarcornejo.com
                        </p>

                        <div id="social">
                            <a
                                class="anin-normal"
                                href="https://www.linkedin.com/pub/edgar-cornejo-cahuana/48/150/974"
                                target="_blank"
                                title="Linkedin">Linkedin</a
                            >
                            <a
                                class="anin-normal"
                                href="https://www.behance.net/edgarcornejo"
                                target="_blank"
                                title="Sígueme en Behance">Behance</a
                            >
                            <a
                                class="anin-normal"
                                href="https://www.instagram.com/devcornejo"
                                target="_blank"
                                title="Sígueme en Instagram">Instagram</a
                            >
                            <a
                                class="anin-normal"
                                href="https://github.com/edgarcornejo"
                                target="_blank"
                                title="Sígueme en GitHub">GitHub</a
                            >
                            <a
                                class="anin-normal"
                                href="http://pinterest.com/Edgarcornejo"
                                target="_blank"
                                title="Sígueme en Pinterest">Pinterest</a
                            >
                            <a
                                class="anin-normal"
                                href="https://www.facebook.com/edgarcornejopage"
                                target="_blank"
                                title="Sígueme en Facebook">Facebook</a
                            >
                            <a
                                class="anin-normal"
                                href="https://twitter.com/devcornejo"
                                target="_blank"
                                title="Sígueme en Twitter">Twitter</a
                            >
                            <a
                                class="anin-normal"
                                href="https://www.youtube.com/user/devcornejo"
                                target="_blank"
                                title="Sígueme en YouTube">YouTube</a
                            >
                        </div>

                        <ul class="list mailing-list">
                            <address>
                                <li>
                                    <strong>Correo:</strong>
                                    <a
                                        href="mailto:info@edgarcornejo.com"
                                        class="anin-normal"
                                        title="info@edgarcornejo.com"
                                        itemprop="email"
                                        >info@edgarcornejo.com</a
                                    >
                                </li>

                                <li>
                                    <strong>Web:</strong>
                                    <a
                                        href="https://www.edgarcornejo.com"
                                        itemprop="url"
                                        class="anin-normal"
                                        title="Pagina Web"
                                        >www.edgarcornejo.com</a
                                    >
                                </li>

                                <li>
                                    <strong>Teléfono:</strong>
                                    <a
                                        itemprop="telephone"
                                        class="anin-normal"
                                        title="+51 931 298 392"
                                        >+51 931 298 392</a
                                    >
                                </li>

                                <li>
                                    <strong>Skype:</strong>
                                    <a
                                        href="skype:devcornejo?call"
                                        class="anin-normal"
                                        title="devcornejo">devcornejo</a
                                    >
                                </li>

                                <li>
                                    <strong>Facebook</strong>
                                    <a
                                        href="https://www.facebook.com/edgarcornejopage"
                                        target="_blank"
                                        class="anin-normal"
                                        title="Sígueme en Facebook"
                                        itemprop="nickname">devcornejo</a
                                    >
                                </li>
                            </address>
                        </ul>
                    </article>
                </article>
            </section>
        </main>
    </div>
</Layout>

<style lang="stylus" is:global>
    /* Selector  Menu Principal */
    label + ul li:nth-child(5)
        border-top solid 8px rgb(103, 61, 230)
        a
            opacity 0.2
    
    /* Responsive Design */
    @media screen and (max-width:1920px)
        label + ul li:nth-child(5)
            border-top solid 5px rgb(61, 188, 230)

    @media screen and (max-width:768px)
        label + ul li:nth-child(5)
            border-top solid 1px rgb(61, 188, 230)
            a
                opacity 1   
</style>

<style lang="stylus">
    /* Contacto */
	#social
		margin-bottom 3rem
		display flex
		flex-wrap wrap
		justify-content space-around
		gap 4rem
		a
			background url(/img/icon-social.svg) no-repeat rgb(61, 188, 230)
			background-size cover
			border-radius 5px
			color transparent
			font-size 0
			height 48px
			text-indent -99999999px
			width 48px
			transform scale(2)
			&:nth-child(1)
				background-position 0 0
			&:nth-child(2)
				background-position -48px 0
			&:nth-child(3)
				background-position -96px 0
			&:nth-child(4)
				background-position -143px 0
			&:nth-child(5)
				background-position -191px 0
			&:nth-child(6)
				background-position -243px 0
			&:nth-child(7)
				background-position -287px 0
			&:nth-child(8)
				background-position -336px 0
			&:hover
				background-color rgb(103, 61, 230)
				transform scale3d(2.2, 2.2, 1)
                
    /* Responsive Design */	
	@media screen and (max-width:1920px)
		/* Contacto */
		#social
			gap 1rem
			a
				transform scale(1)
				&:hover
					transform scale3d(1.2, 1.2, 1)

</style>
