---
import IconSocial from "../components/IconSocial.astro";
import InfoContact from "../components/InfoContact.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/layout.css";
---

<Layout
    title="Contacto - Edgar Cornejo, Diseñador gráfico, desarrolador Web front-end y Posicionamiento en Internet."
    description="Actualmente me encuentro en Arequipa, Perú. El horario de atención es de Lunes a Viernes desde las 09:00 a.m. a 15:00 p.m. Solo atención en línea. Consultas o presupuestos, envía un correo a info@edgarcornejo.com"
>
    <div class="main-content">
        <header>
            <h1>Contacto</h1>
        </header>

        <main>
            <section id="design">
                <article>
                    <header>
                        <h2>Me encantaría escucharte</h2>
                    </header>

                    <article>
                        <p>
                            Actualmente me encuentro en Arequipa, Perú. El
                            horario de atención es de Lunes a Viernes desde las
                            09:00 a.m. a 15:00 p.m. Solo atención en línea.
                            Consultas o presupuestos, envía un correo a
                            info@edgarcornejo.com
                        </p>

                        <IconSocial />

                        <InfoContact />
                    </article>
                </article>
            </section>
        </main>
    </div>
</Layout>
