---
/* Importando layoutss */
import Layout from "../layouts/Layout.astro";

/* Importando componentes */
import IconSocial from "../components/IconSocial.astro";
import InfoContact from "../components/InfoContact.astro";
---

<Layout title="Gracias">
	<main>
		<section>
			<article>
				<header>
					<h2>Gracias por su mensaje</h2>
				</header>

				<article>
					<p>
						Le respondere lo mas pronto posible, también puedes enviar un mensaje por WhatsApp: <a href="https://wa.me/message/EEEHZULZQV5QG1" target="_blank" title="Envía un mensaje a Edgar">Envía un mensaje a Edgar</a>
						Consultas o presupuestos, envía un correo a <a href="mailto:info@edgarcornejo.com" title="info@edgarcornejo.com" target="_blank">info@edgarcornejo.com</a>
					</p>

					<IconSocial />

					<InfoContact />
				</article>
			</article>
		</section>
	</main>
</Layout>
