---
/* Importando layoutss */
import Layout from "../layouts/Layout.astro";

/* Importando componentes */
import ListPosts from "../components/ListPosts.astro";
import IconSocial from "../components/IconSocial.astro";
import InfoContact from "../components/InfoContact.astro";

const { visible = true } = Astro.props;
---

<Layout {visible}>
	<main>
		<section>
			<article>
				<header>
					<h2>Firma</h2>
				</header>

				<article>
					<p>
						Tener una firma de correo es importante para nuestras comunicaciones
						con clientes o colaboradores. Obtén la tuya ahora.<br /><br /> Comunicate
						a
						<a href="mailto:info@edgarcornejo.com" title="info@edgarcornejo.com"
							>info@edgarcornejo.com</a
						>
					</p>
				</article>
			</article>
		</section>

		<section>
			<article>
				<header>
					<h2>Marcas</h2>
				</header>

				<article>
					<p>
						Te recomiendo algunas páginas que te puedan interesar como:
						Agregarte en un directorio de profesionales y empresas, si necesitas
						recursos fotográficos, si te gustan las naves hechas de papel o
						enterarte de noticias de tecnología.
					</p>

					<div class="marcas-container">
						<figure>
							<a
								href="https://www.fotos.edgarcornejo.com"
								title="Fotos Gratis"
								target="_blank">
								<img
									src="/img/portafolio/fotosgratislogo.png"
									loading="lazy"
									alt="Letras F y G en mayúsculas con degradado"
								/>
								<figcaption>Fotos Gratis</figcaption>
							</a>
						</figure>

						<figure>
							<a
								href="https://www.minilink.edgarcornejo.com"
								title="Minilink Soluciones"
								target="_blank">
								<img
									src="/img/portafolio/minilink-soluciones.png"
									loading="lazy"
									class="desaturar"
									alt="M en mayúscula de color negro"
								/>
								<figcaption>Minilink</figcaption>
							</a>
						</figure>

						<figure>
							<a
								href="https://www.navedepapel.edgarcornejo.com"
								title="Nave de Papel"
								target="_blank">
								<img
									src="/img/portafolio/naves-de-papel.png"
									loading="lazy"
									alt="heptágono anaranjado con icono de nave"
								/>
								<figcaption>Nave de Papel</figcaption>
							</a>
						</figure>

						<figure>
							<a
								href="https://renovadesign.blogspot.pe"
								title="Renova Design"
								target="_blank">
								<img
									src="/img/portafolio/renova-design-logotipo.png"
									loading="lazy"
									class="desaturar"
									alt="texto negro sin fondo"
								/>
								<figcaption>Renova Design</figcaption>
							</a>
						</figure>
					</div>
				</article>
			</article>
		</section>

		<section>
			<article>
				<header>
					<h2>Publicaciones</h2>
				</header>

				<article>
					<p>
						Me gusta compartir lo que conozco, si tienes alguna duda
						posiblemente tengo algunas recomendaciones que hago en estas
						publicaciones.
					</p>
				</article>

				<ListPosts />
			</article>
		</section>

		<section>
			<article>
				<header>
					<h2>Contacto</h2>
				</header>

				<article>
					<p>
						Actualmente me encuentro en
						<strong>Arequipa, Perú</strong>
						.
						<br />
						Consultas o presupuestos, envía un correo a info@edgarcornejo.com
					</p>
				</article>

				<IconSocial />

				<InfoContact />
			</article>
		</section>
	</main>
</Layout>
