---
import Layout from "../layouts/Layout.astro";
import "../styles/layout.css";
import AsideMenuView from "../components/AsideMenuView.astro";
import asideItemsPor from "../data/asideItemsPorData";
import AsideItemView from "../components/AsideItemView.astro";
---

<Layout
    title="Portafolio - Edgar Cornejo, Diseñador gráfico, desarrolador Web front-end y Posicionamiento en Internet."
>
    <AsideMenuView>
        {asideItemsPor.map((aitem) => <AsideItemView {...aitem} />)}
    </AsideMenuView>

    <div class="main-content">
        <header>
            <h1>Portafolio</h1>
        </header>

        <main>
            <section id="design">
                <article>
                    <header>
                        <h2>Diseño</h2>
                    </header>

                    <article>
                        <p>
                            Trabajos realizados en el área de diseño gráfico,
                            puedes revizar los últimos realizados.
                        </p>

                        <div class="wrapper-gallery-work">
                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/banner-web-sit.png"
                                        alt="Banner Web SIT"
                                        loading="lazy"
                                    />
                                    <figcaption>Banner Web SIT</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Banner Web SIT</h3>
                                <p>
                                    Cliente: <strong>SIT Arequipa</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Banner Web para el SIT Arequipa.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/pacto-por-la-movilidad-sit.png"
                                        alt="Pacto por la movilidad SIT"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Pacto por la movilidad SIT
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Pacto por la movilidad SIT
                                </h3>
                                <p>
                                    Cliente: <strong>SIT Arequipa</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Campaña "Pacto por la movilidad"
                                    para el SIT Arequipa.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/infografias-sit.png"
                                        alt="Infografías SIT"
                                        loading="lazy"
                                    />
                                    <figcaption>Infografías SIT</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Infografías SIT</h3>
                                <p>
                                    Cliente: <strong>SIT Arequipa</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Infografias para el SIT Arequipa.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/un-dia-por-arequipa-sit.png"
                                        alt="Un día por Arequipa SIT"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Un día por Arequipa SIT
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Un día por Arequipa SIT
                                </h3>
                                <p>
                                    Cliente: <strong>SIT Arequipa</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Campaña un día por Arequipa SIT
                                    Arequipa.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/papercraft-sit.png"
                                        alt="Papercraft SIT"
                                        loading="lazy"
                                    />
                                    <figcaption>Papercraft SIT</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Papercraft SIT</h3>
                                <p>
                                    Cliente: <strong>SIT Arequipa</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Papercraft de una Bus de transporte
                                    para el SIT Arequipa.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/zapateria-byhozap.png"
                                        alt="Zapateria Byhozap"
                                        loading="lazy"
                                    />
                                    <figcaption>Zapatería Byhozap</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Zapatería Byhozap</h3>
                                <p>
                                    Cliente: <strong>Zapatería Byhozap</strong
                                    ><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Logotipo para Byhozap una empresa
                                    de venta y fabricación de calzado.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/fumiga-aqp.png"
                                        alt="Fumiga AQP"
                                        loading="lazy"
                                    />
                                    <figcaption>Fumiga AQP</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Fumiga AQP</h3>
                                <p>
                                    Cliente: <strong>Fumiga AQP</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Logotipo para Fumiga AQP, una empresa
                                    de desinfección y saneamiento ambiental.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/bocetos-gea.png"
                                        alt="Bocetos GEA"
                                        loading="lazy"
                                    />
                                    <figcaption>Bocetos GEA</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Bocetos GEA</h3>
                                <p>
                                    Cliente: <strong>GEA</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Bocetos para GEA una empresa de
                                    distribución de material educativo.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/postal-atusa-2015.png"
                                        alt="Postal ATUSA 2015"
                                        loading="lazy"
                                    />
                                    <figcaption>Postal ATUSA 2015</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Postal ATUSA 2015</h3>
                                <p>
                                    Cliente: <strong>ATUSA</strong><br />
                                    País: <strong>Estados Unidos</strong><br />
                                    Descripción: Postal para el Campeonato y Festival
                                    de Tango en Estados Unidos.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/sweetstevia.png"
                                        alt="Etiquetas Sweet Stevia"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Etiquetas Sweet Stevia
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Etiquetas Sweet Stevia
                                </h3>
                                <p>
                                    Cliente: <strong>Sweet Stevia</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Etiquetas para envases de productos
                                    - Tamaño grande y pequeño.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/bodega-casaverde.png"
                                        alt="Logotipo Bodega Casaverde"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Logotipo Bodega Casaverde
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">Bodega Casaverde</h3>
                                <p>
                                    Cliente: <strong
                                        >Bodega Casaverde S.A.C.</strong
                                    ><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Logotipo para la empresa de destilado
                                    de bebidas alcohólicas como vino, pisco, aguardiente,
                                    brandy y macerados.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/logotipo-grainsperu.png"
                                        alt="Logotipo Grains Perú"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Logotipo Grains Perú
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">Grains Perú</h3>
                                <p>
                                    Cliente: <strong>Grains Perú</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Logotipo para la empresa de exportación
                                    de granos peruanos.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/nobbytex.png"
                                        alt="Isologo Nobbytex"
                                        loading="lazy"
                                    />
                                    <figcaption>Isologo Nobbytex</figcaption>
                                </figure>
                                <h3 class="anin-rapido">Nobbytex</h3>
                                <p>
                                    Cliente: <strong>Nobbytex</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Isologo para empresa de fabricación
                                    de polos y otras prendas de vestir.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/marketingtv.png"
                                        alt="Imagotipo Marketing TV"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Imagotipo Marketing TV
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">Marketing TV</h3>
                                <p>
                                    Cliente: <strong>Marketing TV</strong><br />
                                    País: <strong>Perú</strong><br />
                                    Descripción: Imagotipo para programa de TV de
                                    marketing.
                                </p>
                            </div>
                        </div>
                    </article>
                </article>
            </section>

            <section id="web">
                <article>
                    <header>
                        <h2>Diseño Web</h2>
                    </header>

                    <article>
                        <p>
                            Trabajos realizados en el área de diseño web, puedes
                            revizar los últimos realizados.
                        </p>

                        <div class="wrapper-gallery-work">
                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/web-grainsperu.png"
                                        alt="Web Grains Perú"
                                        loading="lazy"
                                    />
                                    <figcaption>Web Grains Perú</figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Grains Perú
                                </h3>
                                <p>
                                    Cliente: <strong>Grains Perú</strong>
                                    <br />
                                    Fecha: <time>08/04/2016</time>
                                    <br />
                                    Tipo: Estática <br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    <br />
                                    Descripción: Maquetación y desarrollo de la pagina
                                    web de Grains Perú.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/jarvaxengineering.png"
                                        alt="Web Jarvax Engineering"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Jarvax Engineering
                                    </figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Jarvax Engineering
                                </h3>
                                <p>
                                    Cliente: <strong>Jarvax Engineering</strong>
                                    <br />
                                    Fecha: <time>30/02/2015</time>
                                    <br />
                                    Tipo: Estática <br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    <br />
                                    Puesto: Desarrollador Web <br />
                                    Descripción: Maquetación y desarrollo de la pagina
                                    web de Jarvax Engineering.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/fabricadebanderas.png"
                                        alt="Web Fabrica de Banderas"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Fabrica de Banderas
                                    </figcaption>
                                </figure>
                                <h3>Página Web de<br />Fabrica de Banderas</h3>
                                <p>
                                    Cliente: <strong>Fabrica de Banderas</strong
                                    >
                                    <br />
                                    Fecha: <time>01/10/2014</time><br />
                                    Tipo: Dinámica<br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | PrestaShop<br />
                                    Puesto: Diseñador<br />
                                    Descripción: Tienda Online de Fabrica de banderas
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/3bingenieros.png"
                                        alt="Web 3B Ingenieros"
                                        loading="lazy"
                                    />
                                    <figcaption>Web 3B Ingenieros</figcaption>
                                </figure>
                                <h3>Página Web de<br />3B Ingenieros</h3>
                                <p>
                                    Cliente: <strong>3B Ingenieros</strong><br
                                    />
                                    Fecha: <time>19/09/2012</time><br />
                                    Tipo: Estática<br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | jQuery<br />
                                    Puesto: Desarrollador Freelance<br />
                                    Descripción: Re-diseño de página web, mejora
                                    de SEO y adaptativa en tabletas y smartphones
                                    para 3B Ingenieros.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/integrate.png"
                                        alt="Web Intégrate Consultores"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Intégrate Consultores
                                    </figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />Intégrate Consultores
                                </h3>
                                <p>
                                    Cliente: <strong
                                        >Intégrate Consultores</strong
                                    ><br />
                                    Fecha: <time>15/12/2012</time><br />
                                    Tipo: Estática con blog dinámico<br />
                                    Tecnología: HTML5 | CSS3 | jQuery | WordPress<br
                                    />
                                    Puesto: Diseñador Corporativo<br />
                                    Descripción: Diseño y desarrollo de página web
                                    con posicionamiento en internet para Intégrate
                                    Consultores.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/musquy.png"
                                        alt="Web Musquy"
                                        loading="lazy"
                                    />
                                    <figcaption>Web Musquy</figcaption>
                                </figure>
                                <h3>Página Web de<br />Musquy</h3>
                                <p>
                                    Cliente: <strong>Musquy</strong>
                                    <br />
                                    Fecha: <time>30/02/2013</time><br />
                                    Tipo: Estática con blog dinámico<br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | jQuery | Wordpress<br />
                                    Puesto: Area de Diseño y Desarrollo<br />
                                    Descripción: Diseño y desarrollo de página para
                                    Musquy
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/ifs.png"
                                        alt="Web Instituto Futuro del Sur"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Instituto Futuro del Sur
                                    </figcaption>
                                </figure>
                                <h3>
                                    Página Web del<br />Instituto Futuro del Sur
                                </h3>
                                <p>
                                    Cliente: <strong
                                        >Instituto Futuro del Sur</strong
                                    >
                                    <br />
                                    Fecha: <time>30/05/2013</time><br />
                                    Tipo: Dinámica<br />
                                    Tecnología: HTML5 | CSS3 | jQuery | WordPress<br
                                    />
                                    Puesto: Diseñador y Desarrollador Freelance<br
                                    />
                                    Descripción: Diseño y desarrollo de página web
                                    para Instituto Futuro del Sur.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/lineapublicitaria.png"
                                        alt="Web Linea Publicitaria"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Linea Publicitaria
                                    </figcaption>
                                </figure>
                                <h3>Página Web de<br />Linea Publicitaria</h3>
                                <p>
                                    Cliente: <strong>Linea Publicitaria</strong
                                    ><br />
                                    Fecha: <time>20/07/2013</time><br />
                                    Tipo: Estática<br />
                                    Tecnología: Responsive Web Design | Parallax
                                    Scrolling | HTML5 | CSS3 | jQuery | Wordpress<br
                                    />
                                    Puesto: Creativo<br />
                                    Descripción: Diseño y desarrollo de página web
                                    para Linea Publicitaria.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/excellencecarrelage.png"
                                        alt="Web Excellence Carrelage"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Excellence Carrelage
                                    </figcaption>
                                </figure>
                                <h3>Página Web de<br />Excellence Carrelage</h3>
                                <p>
                                    Cliente: <strong
                                        >Excellence Carrelage</strong
                                    ><br />
                                    Fecha: <time>22/08/2013</time><br />
                                    Tipo: Dinámica<br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | jQuery | WordPress<br />
                                    Puesto: Desarrollador Freelance<br />
                                    Descripción: Diseño brindado por el clientes,
                                    maquetaje y desarrollo de página web para Excellence
                                    Carrelage.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/excellencerenovation.png"
                                        alt="Web Excellence Renovation"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Excellence Renovation
                                    </figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />Excellence Renovation
                                </h3>
                                <p>
                                    Cliente: <strong
                                        >Excellence Renovation</strong
                                    ><br />
                                    Fecha: <time>14/04/2015</time><br />
                                    Tipo: Dinámica<br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | jQuery | WordPress<br />
                                    Puesto: Desarrollador Freelance<br />
                                    Descripción: Diseño brindado por el clientes,
                                    maquetaje y desarrollo de página web para Excellence
                                    Renovation.
                                </p>
                            </div>
                        </div>
                    </article>
                </article>
            </section>

            <section id="seo">
                <article>
                    <header>
                        <h2>SEO</h2>
                    </header>

                    <article>
                        <p>
                            Trabajos realizados en el área de posicionamiento en
                            buscadores SEO, puedes revizar los últimos
                            realizados.
                        </p>

                        <div class="wrapper-gallery-work">
                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/fabricadebanderas.png"
                                        alt="Web Fabrica de Banderas"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Fabrica de Banderas
                                    </figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Fabrica de Banderas
                                </h3>
                                <p>
                                    Cliente: <strong>Fabrica de Banderas</strong
                                    ><br />
                                    Tipo: Dinámica<br />
                                    Puesto: SEO<br />
                                    URL: http://www.fabricabanderas.com <br />
                                    Descripción: Mejoramiento de posicionamiento
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/argentine-tango-usa.png"
                                        alt="Web Argentine Tango USA"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Argentine Tango USA
                                    </figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Argentine Tango USA
                                </h3>
                                <p>
                                    Cliente: <strong>Argentine Tango USA</strong
                                    ><br />
                                    Tipo: Dinámica<br />
                                    Puesto: SEO<br />
                                    Descripción: Análisis de posicionamiento en la
                                    web actualmente y errores en el código - Se mejoro
                                    el código para el posicionamiento y análisis
                                    mensual.
                                </p>
                            </div>
                        </div>
                    </article>
                </article>
            </section>

            <section id="propios">
                <article>
                    <header>
                        <h2>Propios</h2>
                    </header>

                    <article>
                        <p>
                            Trabajos propios, puedes revizar los últimos
                            realizados.
                        </p>

                        <div class="wrapper-gallery-work">
                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/minilink-soluciones-logo.png"
                                        alt="Imagotipo Minilink Soluciones"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Imagotipo Minilink Soluciones
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Imagotipo Minilink Soluciones
                                </h3>
                                <p>
                                    Descripción: Creación de imagen corporativa.
                                    Forma parte de mis proyectos, en este sitio
                                    web podrás subir tu información profesional
                                    para que se contacten contigo ya seas
                                    independiente o una Empresa, de manera
                                    gratuita y segura.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/fotosgratis.png"
                                        alt="Imagotipo Fotos Gratis"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Imagotipo Fotos Gratis
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Imagotipo Fotos Gratis
                                </h3>
                                <p>
                                    Descripción: Logotipo para banco de fotos
                                    gratuito. Forma parte de mis proyectos, en
                                    este sitio web podrás encontrar y descargar
                                    fotografiás para uso libre uso comercial
                                    como proyectos propios.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/renova-design.png"
                                        alt="Logotipo Renova Design"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Logotipo Renova Design
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Logotipo Renova Design
                                </h3>
                                <p>
                                    Descripción: Logotipo para blog de
                                    tecnología. Forma parte de mis proyectos, en
                                    este blog podrás encontrar noticias de
                                    tecnología, diseño, desarrollo web,
                                    publicidad, marketing y videos interesantes.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/navedepapel-logo.png"
                                        alt="Imagotipo Nave de Papel"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Imagotipo Nave de Papel
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Imagotipo Nave de Papel
                                </h3>
                                <p>
                                    Descripción: Logotipo para la comunidad de
                                    Nave de Papel. Forma parte de mis proyectos,
                                    que busca reunir a personas con el gusto por
                                    las naves de papel.
                                </p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/minimarket-lucy.png"
                                        alt="Isologo Minimarket Lucy"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Isologo Minimarket Lucy
                                    </figcaption>
                                </figure>
                                <h3 class="anin-rapido">
                                    Isologo Minimarket Lucy
                                </h3>
                                <p>Descripción: Logotipo para un minimarket</p>
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/minimarket-lucy-web.png"
                                        alt="Web Minimarket Lucy"
                                        loading="lazy"
                                    />
                                    <figcaption>Web Minimarket Lucy</figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Minimarket Lucy
                                </h3>
                                <p>
                                    Fecha: <time>08/04/2016</time>
                                    <br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    <br />
                                    Descripción: Maquetación y desarrollo de la pagina
                                    web de Minimarket Lucy.
                                </p>
                                <a
                                    class="visitar"
                                    href="https://www.lucy.edgarcornejo.com/"
                                    target="_blank"
                                    title="Minimarket Lucy">Minimarket Lucy</a
                                >
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/navedepapel.png"
                                        alt="Web Nave de papel"
                                        loading="lazy"
                                    />
                                    <figcaption>Web Nave de papel</figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Nave de papel
                                </h3>
                                <p>
                                    Fecha: <time>05/01/2016</time>
                                    <br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    <br />
                                    Descripción: Maquetación y desarrollo de la pagina
                                    web de Nave de papel.
                                </p>
                                <a
                                    class="visitar"
                                    href="https://www.navedepapel.edgarcornejo.com"
                                    target="_blank"
                                    title="Nave de papel">Nave de papel</a
                                >
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/fotosgratisweb.png"
                                        alt="Web Fotos Gratis"
                                        loading="lazy"
                                    />
                                    <figcaption>Web Fotos Gratis</figcaption>
                                </figure>
                                <h3>Página Web de<br />Fotos Gratis</h3>
                                <p>
                                    Fecha: <time>24/01/2014</time><br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | jQuery<br />
                                    Descripción: Banco de fotos con fácil descarga,
                                    fotos de autoría de Edgar Cornejo para Fotos
                                    Gratis.
                                </p>
                                <a
                                    class="visitar"
                                    href="https://www.fotos.edgarcornejo.com"
                                    target="_blank"
                                    title="Fotos Gratis">Fotos Gratis</a
                                >
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/minilink.png"
                                        alt="Web Minilink Soluciones"
                                        loading="lazy"
                                    />
                                    <figcaption>
                                        Web Minilink Soluciones
                                    </figcaption>
                                </figure>
                                <h3>Página Web de<br />Minilink Soluciones</h3>
                                <p>
                                    Fecha: <time>20/01/2013</time><br />
                                    Tecnología: Responsive Web Design | HTML5 | CSS3
                                    | jQuery<br />
                                    Puesto: Fundador<br />
                                    Descripción: Diseño y desarrollo de página web
                                    para Minilink Soluciones
                                </p>
                                <a
                                    class="visitar"
                                    href="https://www.minilink.edgarcornejo.com"
                                    target="_blank"
                                    title="Minilink Soluciones"
                                    >Minilink Soluciones</a
                                >
                            </div>

                            <div class="gallery-cell">
                                <figure>
                                    <img
                                        src="/img/portafolio/renovadesign.png"
                                        alt="Web Renova Design"
                                        loading="lazy"
                                    />
                                    <figcaption>Web Renova Design</figcaption>
                                </figure>
                                <h3>
                                    Página Web de<br />
                                    Renova Design
                                </h3>
                                <p>
                                    Tipo: Dinámica<br />
                                    URL: http://renovadesign.blogspot.com <br />
                                    Descripción: Mejoramiento de posicionamiento
                                    con marketing de contenido.
                                </p>
                                <a
                                    class="visitar"
                                    href="https://renovadesign.blogspot.com"
                                    target="_blank"
                                    title="Renova Design">Renova Design</a
                                >
                            </div>
                        </div>
                    </article>
                </article>
            </section>
        </main>
    </div>
</Layout>

<style lang="stylus" is:global>
    /* Selector  Menu Principal */
    label + ul li:nth-child(3)
        border-top solid 8px rgb(103, 61, 230)
        a
            opacity 0.2
    
    /* Responsive Design */
    @media screen and (max-width:1920px)
        label + ul li:nth-child(3)
            border-top solid 5px rgb(61, 188, 230)

    @media screen and (max-width:768px)
        label + ul li:nth-child(3)
            border-top solid 1px rgb(61, 188, 230)
            a
                opacity 1   
</style>

<style lang="stylus">
    /* Portafolio */
    /* Wrapper Gallery */
    .wrapper-gallery-work
        display flex
        flex-wrap wrap
        width 100%
        gap 1rem

    .gallery-cell
        width 30%
        padding 3rem
        border-radius 10px
        transition all .1s ease-in-out
        outline solid 3px rgb(191, 238, 231)
        &:hover
            img
                transform scale(1.2)
                filter grayscale(0)
        figure
            text-align center
        figcaption
            color transparent
        img
            height auto
            width 100%
            width auto/9
            filter grayscale(1)
            transition all .1s ease-in-out
        /* Title Gallery */
        h3
            font 500 2.6rem Ubuntu
            text-align center
        /* Description Gallery */
        p
            font 300 1.8rem/1.2 Ubuntu

    /* Responsive Design */
    @media screen and (max-width:1920px)
        .gallery-cell
            /* Title Gallery */
            h3
                font 500 1.6rem Ubuntu
            /* Description Gallery */
            p
                font 300 1rem/1.2 Ubuntu
    
    @media screen and (max-width:1440px)
        .gallery-cell
            padding 1rem
            /* Title Gallery */
            h3
                font 500 1.2rem Ubuntu
    
    @media screen and (max-width:768px)
        .gallery-cell
            width 48%
            img
                filter grayscale(0)

    @media screen and (max-width:768px)
        .gallery-cell
            width 100%


</style>
