---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Presentación - Edgar Cornejo, Diseñador gráfico, desarrolador Web front-end y Posicionamiento en Internet."
    description="Soy diseñador gráfico, desarrollador web frontend y realizó análisis de posicionamiento en buscadores SEO, soy autodidacta y me gusta la tecnología. Vivo en Arequipa - Perú."
>
    <div class="main-content">
        <header>
            <h1>Presentación</h1>
        </header>

        <aside>
            <nav class="navigator">
                <ol>
                    <li>
                        <a href="#hola" title="Hola"
                            ><span class="material-symbols-sharp"
                                >waving_hand</span
                            > Hola</a
                        >
                    </li>
                    <li>
                        <a href="#habilidades" title="Habilidades"
                            ><span class="material-symbols-sharp"
                                >fact_check</span
                            > Habilidades</a
                        >
                    </li>
                    <li>
                        <a href="#servicios" title="Servicios"
                            ><span class="material-symbols-sharp">draw</span> Servicios</a
                        >
                    </li>
                    <li>
                        <a href="#informacion" title="Información"
                            ><span class="material-symbols-sharp">info</span> Información</a
                        >
                    </li>
                    <li>
                        <a href="#clientes" title="Clientes"
                            ><span class="material-symbols-sharp"
                                >contacts_product</span
                            > Clientes</a
                        >
                    </li>
                </ol>
            </nav>
        </aside>

        <main>
            <section id="hola">
                <article>
                    <header>
                        <h2>Hola</h2>
                    </header>

                    <article>
                        <p
                            class="text-big"
                            itemprop="address"
                            itemscope
                            itemtype="http://schema.org/PostalAddress"
                        >
                            Soy diseñador gráfico, desarrollador web frontend y
                            realizó análisis de posicionamiento en buscadores
                            SEO, soy autodidacta y me gusta la tecnología. Vivo
                            en
                            <span itemprop="addressRegion">Arequipa</span> -
                            <span itemprop="addressCountry">Perú</span>.
                        </p>
                    </article>
                </article>
            </section>

            <section id="habilidades">
                <article>
                    <header>
                        <h2>Habilidades</h2>
                    </header>

                    <article>
                        <h3>Diseñador Gráfico / Comunicador</h3>
                        <p>
                            Construyó mensajes visuales con el propósito de
                            transmitir los beneficios de una marca y atraer a
                            los clientes que usted necesita. Puedo generar ideas
                            innovadoras y físicamente posibles acompañadas de
                            estrategias publicitarias.
                        </p>

                        <h3>Desarrollador Web Frontend</h3>
                        <p>
                            No hago simples páginas web, desarrollo, diseño y
                            maqueto experiencias para usuarios digitales que
                            transmiten el mensaje correcto de un producto o
                            servicio. Orientó todos mis proyectos al
                            posicionamiento en internet y su rentabilidad.
                        </p>

                        <h3>Posicionamiento en Buscadores</h3>
                        <p>
                            Mejoro el posicionamiento de tu página web en los
                            motores de búsqueda.
                        </p>
                    </article>
                </article>
            </section>

            <section id="servicios">
                <article>
                    <header>
                        <h2>Servicios</h2>
                    </header>

                    <article>
                        <p>
                            Si buscas un servicio profesional, estos son los que
                            te ofrezco. Si el servicio que buscas no se
                            encuentra en esta lista puedes consultarme para
                            ofrecerte asesoría.
                        </p>

                        <div class="wrapper-ul">
                            <div>
                                <h3>Diseño Gráfico</h3>
                                <ul>
                                    <li>Logotipos</li>
                                    <li>Rediseño de logotipos</li>
                                    <li>Brochure</li>
                                    <li>Afiches</li>
                                    <li>Flyers</li>
                                    <li>Vectorizaciones</li>
                                    <li>Gigantografias</li>
                                    <li>Diseño de mascotas publicitarias</li>
                                    <li>Diseño de merchandise</li>
                                    <li>Tarjetas de presentación</li>
                                </ul>
                            </div>

                            <div>
                                <h3>Diseño Web Front-end</h3>
                                <ul>
                                    <li>Desarrollo Web Front-end</li>
                                    <li>Rediseño de Paginas Web</li>
                                    <li>Banners estáticos</li>
                                    <li>
                                        Imágenes para perfiles sociales y
                                        publicaciones
                                    </li>
                                    <li>
                                        Instalación y configuración de tiendas
                                        online (PrestaShop)
                                    </li>
                                    <li>
                                        Instalación y configuración de CMS
                                        (WordPress)
                                    </li>
                                    <li>Gestión de Contenido</li>
                                </ul>
                            </div>

                            <div>
                                <h3>SEO</h3>
                                <ul>
                                    <li>
                                        Base de posicionamiento en Internet SEO
                                    </li>
                                    <li>
                                        Mejorar la velocidad de carga de una web
                                    </li>
                                    <li>Análisis de una Web</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </article>
            </section>

            <section id="informacion">
                <article>
                    <header>
                        <h2>Información</h2>
                    </header>

                    <article>
                        <p>
                            Si necesitan mas de información, aquí te dejo unos
                            documentos con información relevante.
                        </p>

                        <p class="enlaces">
                            <a
                                href="https://drive.google.com/open?id=0B4gDS8LyBREkM1BOZV9KT3lfdGs"
                                target="_blank"
                                title="Ver Brochure de Servicios"
                                >Brochure de Servicios</a
                            >
                            <a
                                href="https://drive.google.com/open?id=0B4gDS8LyBREkMmhtc0ZsZ0tRamM"
                                target="_blank"
                                title="Ver CV">Curriculum Vitae</a
                            >
                            <a
                                href="https://drive.google.com/file/d/1uns1bSkM-zA4Nnz7JI3yUOGp06QftD2T/view?usp=sharing"
                                target="_blank"
                                title="Ver Presupuesto">Ejemplo presupuesto</a
                            >
                            <a
                                href="https://drive.google.com/file/d/1xx1Ie41JJpLzDt4lQPnEng86W6oNlxQM/view?usp=sharing"
                                target="_blank"
                                title="Ver Brief">Brief</a
                            >
                        </p>

                        <p>
                            El costo solo es por el trabajo realizado, el costo
                            de impresión o hosting/dominio es por separado.
                            Trabajos adicionales aumentara el costo,
                            preferentemente se terminara el primer trabajo para
                            empezar otro.
                        </p>

                        <p>
                            *El pago es <strong>50% por adelantado</strong> y al
                            finalizar el otro <strong>50% restante</strong>. El
                            trabajo se inicia cuando se envía la información
                            necesaria y el adelanto del 50%.
                        </p>
                    </article>
                </article>
            </section>

            <section id="clientes">
                <article>
                    <header>
                        <h2>Clientes</h2>
                    </header>

                    <article>
                        <p>
                            Mi motivación para hacer un buen trabajo es saber
                            que mis clientes crecen como empresa y se hacen más
                            conocidos. Inicio los proyectos con ánimo y siempre
                            haré el mejor esfuerzo para satisfacer sus
                            necesidades y cubrir sus expectativas.
                        </p>

                        <p class="enlaces">
                            <a title="Sweet Stevia">Sweet Stevia</a>
                            <a title="Musquy">Musquy</a>
                            <a title="Instituto Futuro del Sur"
                                >Instituto Futuro del Sur</a
                            >
                            <a title="Linea Publicitaria">Linea Publicitaria</a>
                            <a title="Mayi Novoa">Mayi Novoa</a>
                            <a title="Bodega Casaverde">Bodega Casaverde</a>
                            <a title="Amelie">Amelie</a>
                            <a title="Marketing TV">Marketing TV</a>
                            <a
                                href="http://www.grainsperu.com"
                                target="_blank"
                                title="Grains Perú">Grains Perú</a
                            >
                            <a
                                href="https://renovadesign.blogspot.com"
                                target="_blank"
                                title="Renova Design">Renova Design</a
                            >
                            <a
                                href="http://www.3bingenieros.com"
                                target="_blank"
                                title="3B Ingenieros">3B Ingenieros</a
                            >
                            <a
                                href="http://integrate.com.pe"
                                target="_blank"
                                title="Intégrate Consultores"
                                >Intégrate Consultores</a
                            >
                            <a
                                href="https://www.minilink.edgarcornejo.com"
                                target="_blank"
                                title="Minilink Soluciones"
                                >Minilink Soluciones</a
                            >
                            <a
                                href="http://www.ecarrelage.ch"
                                target="_blank"
                                title="Excellence Carrelage"
                                >Excellence Carrelage</a
                            >
                            <a
                                href="http://tangousachampionship.com"
                                target="_blank"
                                title="Argentine Tango USA"
                                >Argentine Tango USA</a
                            >
                            <a
                                href="https://www.fotos.edgarcornejo.com"
                                target="_blank"
                                title="Fotos Gratis">Fotos Gratis</a
                            >
                            <a title="Tango Tour Travel">Tango Tour Travel</a>
                            <a
                                href="http://www.gatotango.com"
                                target="_blank"
                                title="Gatotango">Gatotango</a
                            >
                            <a title="Algrama">Algrama</a>
                            <a
                                href="http://www.floridatangofestival.com"
                                target="_blank"
                                title="Florida Tango Festival"
                                >Florida Tango Festival</a
                            >
                            <a
                                href="http://antwerpenimpex.com"
                                target="_blank"
                                title="Antwerpen Impex">Antwerpen Impex</a
                            >
                            <a title="Jarvax Engineering">Jarvax Engineering</a>
                            <a
                                href="http://www.erenovation.ch"
                                target="_blank"
                                title="Excellence Renovation"
                                >Excellence Renovation</a
                            >
                            <a title="Nobbytex">Nobbytex</a>
                            <a
                                href="https://www.navedepapel.edgarcornejo.com/"
                                target="_blank"
                                title="Nave de Papel">Nave de Papel</a
                            >
                            <a
                                href="https://www.facebook.com/wowlaalegriadedar/"
                                target="_blank"
                                title="WOW la alegría de dar AQP"
                                >WOW la alegría de dar AQP</a
                            >
                            <a
                                href="https://www.muniarequipa.gob.pe/2019/09/20/sitransporte/"
                                target="_blank"
                                title="SIT Arequipa">SIT Arequipa</a
                            >
                            <a
                                href="https://fumigaaqp.com"
                                target="_blank"
                                title="Fumiga AQP">Fumiga AQP</a
                            >
                            <a title="Byhozap">Byhozap</a>
                            <a title="Aislación y Heat Tracing"
                                >Aislación y Heat Tracing</a
                            >
                            <a title="Peruvian Dress">Peruvian Dress</a>
                        </p>
                    </article>
                </article>
            </section>
        </main>
    </div>
</Layout>
