<h4>Publicidad</h4>
<div>
    <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5300846547834937"
        crossorigin="anonymous"></script>
    <!-- publi-01 -->
    <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5300846547834937"
        data-ad-slot="1917943135"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<style lang="stylus">
    /* Espacio de publicidad */
    h4
        font-size 1vw
        font-weight 500
        padding 1rem 0 1rem 0
        line-height 140%

    div
        padding 2vh
        margin 2vh auto
    
    /* Responsive Design */
    @media screen and (max-width:1024px)
        h4
            font-size 1em
</style>
