<h4>Publicidad</h4>
<div></div>

<style lang="stylus">
    /* Espacio de publicidad */
    h4
        font-size 1vw
        font-weight 500
        padding 1rem 0 1rem 0
        line-height 140%

    div
        padding 2vh
        margin 2vh auto
    
    /* Responsive Design */
    @media screen and (max-width:1024px)
        h4
            font-size 1em
    
</style>
