<aside>
    <nav class="navigator">
        <ol>
            <slot />
        </ol>
    </nav>
</aside>

<style lang="stylus">
    /* Navegacion por pagina */
    .navigator
        position fixed
        margin-top 6rem
        left 60px
        ol
            height auto
            display flex
            flex-direction column

    /* Responsive Design */        
    @media screen and (max-width:1024px)
        .navigator
            display none
</style>
