---
import { formatBlogPosts, slugify } from "../js/utils";

const allPosts = await Astro.glob("../pages/publicaciones/*.md");
const formattedPost = formatBlogPosts(allPosts);
const allCategories = formattedPost
	.map((cat: any) => cat.frontmatter.category.toLowerCase())
	.flat();

const processedCats = allCategories.reduce((acc: any, category: any) => {
	const value = acc[category] || 0;

	return {
		...acc,
		[category]: value + 1,
	};
}, {});

const { showCount } = Astro.props;
---

<div class="lista-enlaces">
	{
		Object.entries(processedCats).map(([key, val]) => (
			<a href={`/category/${slugify(key)}/`} title={key}>
				{key} <strong>{showCount && `${val}`}</strong>
			</a>
		))
	}
</div>
