<footer>
    <p>
        <small>
            Copyright &copy; <span id="copyright"></span>
            <a href="/" title="Edgar Cornejo"> Edgar Cornejo</a> | Todos los derechos
            reservados.
        </small>
    </p>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date()
        .getFullYear()
        .toString();
</script>

<style lang="stylus">
    /* Pie */
    footer
        font 500 1.6rem/1.2 Ubuntu
        height auto
        margin 0 auto
        padding 2rem 0 2rem 0
        text-align right
        max-width 1920px
        width 90%

    @media screen and (max-width:1366px)
        /* Pie */
        footer
            font 500 1rem/1.2 Ubuntu
</style>
