---
import type { Link } from "../types/types";

interface Props extends Link {}

const { title, url } = Astro.props;
---

<div class="wrap-logo">
    <img itemprop="logo" loading="lazy" src={url} alt={title} />
</div>

<style lang="stylus">
    div
        margin 0 auto
        width 100%
        max-width 1300px
        img
            position relative
            max-width 110px
            height auto
            animation logo 1s ease-in-out both
    
    /* Responie Design */
    @media screen and (max-width:1366px)
        div
            max-width 1024px
            img
                max-width 90px

    @media screen and (max-width:1024px)
        div
            width 90%

    @media screen and (max-width:768px)
        div
            text-align center

</style>
