<header>
  <hgroup>
    <h2 itemprop="name">Edgar Cornejo</h2>
    <h1 itemprop="jobTitle">
      <p>
        Soy
        <a href="designer/" title="Dise침ador Gr치fico">Dise침ador Gr치fico</a> y <br
        />
        <a href="frontend-developer/" title="Desarrollador Web front-end"
          >Desarrollador Web front-end</a
        >
      </p>
    </h1>
  </hgroup>
</header>

<style lang="stylus">
  header
    height auto
    padding 14rem 0 8rem 0
    width 100%

  hgroup
    margin 0 auto
    width 90%
    max-width 1920px
    text-transform uppercase
    display flex
    flex-flow column wrap

  h2
    color rgb(230, 61, 103)
    position relative
    font 700 8rem Ubuntu
    animation titulo1 1s ease-in-out both
  h1
    position relative
    font 400 3rem/1.2 Ubuntu
    padding-top 1rem
    animation titulo2 1s ease-in-out both
    animation-delay 1s
    word-spacing 2pt
    a
      color rgb(8, 12, 63)
      &:hover
        color rgb(61, 188, 230)
    
  /* Responie Design */
  @media screen and (max-width:2560px)
    h2
      font 700 6rem Ubuntu

    h1
      font 400 2.2rem/1.2 Ubuntu

  @media screen and (max-width:1440px)
    header
      padding 10rem 0 8rem 0

    h2
      font 700 4rem Ubuntu

    h1
      font 400 1.4rem/1.2 Ubuntu

  @media screen and (max-width:1366px)
    header
      padding 8rem 0 4rem 0

    hgroup
      max-width 1024px

    h2
      font 700 3rem/1 Ubuntu

    h1
      font 400 1.2rem/1.2 Ubuntu

  @media screen and (max-width:1024px)
    header
      padding 4rem 0 6rem 0

    h2
      text-align center

    h1
      text-align center

</style>
