---

---

<div id="icon-social">
  <a
    class="anin-normal"
    href="https://www.linkedin.com/pub/edgar-cornejo-cahuana/48/150/974"
    target="_blank"
    title="Linkedin"
  >
    Linkedin
  </a>
  <a
    class="anin-normal"
    href="https://www.behance.net/edgarcornejo"
    target="_blank"
    title="Sígueme en Behance"
  >
    Behance
  </a>
  <a
    class="anin-normal"
    href="https://www.instagram.com/devcornejo"
    target="_blank"
    title="Sígueme en Instagram"
  >
    Instagram
  </a>
  <a
    class="anin-normal"
    href="https://github.com/edgarcornejo"
    target="_blank"
    title="Sígueme en GitHub"
  >
    GitHub
  </a>
  <a
    class="anin-normal"
    href="http://pinterest.com/Edgarcornejo"
    target="_blank"
    title="Sígueme en Pinterest"
  >
    Pinterest
  </a>
  <a
    class="anin-normal"
    href="https://www.facebook.com/edgarcornejopage"
    target="_blank"
    title="Sígueme en Facebook"
  >
    Facebook
  </a>
  <a
    class="anin-normal"
    href="https://twitter.com/devcornejo"
    target="_blank"
    title="Sígueme en Twitter"
  >
    Twitter
  </a>
  <a
    class="anin-normal"
    href="https://www.youtube.com/user/devcornejo"
    target="_blank"
    title="Sígueme en YouTube"
  >
    YouTube
  </a>
</div>