<div>
  <a
    class="anin-normal"
    href="https://www.linkedin.com/pub/edgar-cornejo-cahuana/48/150/974"
    target="_blank"
    title="Linkedin"
  >
    Linkedin
  </a>
  <a
    class="anin-normal"
    href="https://www.behance.net/edgarcornejo"
    target="_blank"
    title="Sígueme en Behance"
  >
    Behance
  </a>
  <a
    class="anin-normal"
    href="https://www.instagram.com/devcornejo"
    target="_blank"
    title="Sígueme en Instagram"
  >
    Instagram
  </a>
  <a
    class="anin-normal"
    href="https://github.com/edgarcornejo"
    target="_blank"
    title="Sígueme en GitHub"
  >
    GitHub
  </a>
  <a
    class="anin-normal"
    href="http://pinterest.com/Edgarcornejo"
    target="_blank"
    title="Sígueme en Pinterest"
  >
    Pinterest
  </a>
  <a
    class="anin-normal"
    href="https://www.facebook.com/edgarcornejopage"
    target="_blank"
    title="Sígueme en Facebook"
  >
    Facebook
  </a>
  <a
    class="anin-normal"
    href="https://twitter.com/devcornejo"
    target="_blank"
    title="Sígueme en Twitter"
  >
    Twitter
  </a>
  <a
    class="anin-normal"
    href="https://www.youtube.com/user/devcornejo"
    target="_blank"
    title="Sígueme en YouTube"
  >
    YouTube
  </a>
</div>

<style lang="stylus">
  div
    width 100%
    margin 2vh 0 2vh 0
    display flex
    flex-wrap wrap
    justify-content space-around
    gap 1rem

  a
    border-radius 0.1vw
    border 0
    color transparent
    font-size 0
    height 48px
    text-indent -99999999px
    transform scale(2)
    width 48px
    background url(/img/icon-social.svg) no-repeat rgb(103, 61, 230)
    background-size cover
    &:nth-child(1)
      background-position 0 0
    &:nth-child(2)
      background-position -48px 0
    &:nth-child(3)
      background-position -96px 0
    &:nth-child(4)
      background-position -143px 0
    &:nth-child(5)
      background-position -191px 0
    &:nth-child(6)
      background-position -243px 0
    &:nth-child(7)
      background-position -287px 0
    &:nth-child(8)
      background-position -336px 0
    &:hover
      background-color rgb(8, 12, 63)
      transform scale3d(2.2, 2.2, 1)

  /* Responsive Design */
  @media screen and (max-width:1920px)
    a
      border-radius 0.2vw
      transform scale(1)
      &:hover
        transform scale3d(1.2, 1.2, 1)

</style>
