---

---

<ul class="info-contact">
	<li>
		<strong>Web:</strong>
		<address>
			<a href="/" itemprop="url" title="Pagina Web">www.edgarcornejo.com</a>
		</address>
	</li>

	<li>
		<strong>Correo:</strong>
		<address>
			<a
				href="mailto:info@edgarcornejo.com"
				title="info@edgarcornejo.com"
				itemprop="email">
				info@edgarcornejo.com
			</a>
		</address>
	</li>

	<li>
		<strong>Teléfono:</strong>
		<address>
			<a itemprop="telephone" href="tel:+51974795622" title="+51974795622">
				+51 974 795 622
			</a>
		</address>
	</li>

	<li>
		<strong>WhatsApp:</strong>
		<a href="https://wa.me/message/EEEHZULZQV5QG1" title="WhatsApp">WhatsApp</a>
	</li>

	<li>
		<strong>Instagram:</strong>
		<address>
			<a
				href="https://www.instagram.com/devcornejo"
				target="_blank"
				title="Sígueme en Instagram"
				itemprop="nickname">
				devcornejo
			</a>
		</address>
	</li>
</ul>
