---

---

<address class="lista-enlaces">
	<a href="/" itemprop="url" title="Página Web"> www.edgarcornejo.com </a>

	<a
		href="mailto:info@edgarcornejo.com"
		title="info@edgarcornejo.com"
		itemprop="email">
		info@edgarcornejo.com
	</a>

	<a
		itemprop="telephone"
		href="tel:+51974795622"
		target="_blank"
		title="+51974795622">
		Llamar
	</a>

	<a
		href="https://wa.me/message/EEEHZULZQV5QG1"
		target="_blank"
		title="WhatsApp">WhatsApp</a
	>

	<a
		href="https://www.instagram.com/devcornejo"
		target="_blank"
		title="Sígueme en Instagram"
		itemprop="nickname">
		devcornejo
	</a>
</address>
