---

---

<ul class="info-contact">
	<li>
		<strong>Web:</strong>
		<address>
			<a href="/" itemprop="url" title="Pagina Web">www.edgarcornejo.com</a>
		</address>
	</li>

	<li>
		<strong>Correo:</strong>
		<address>
			<a
				href="mailto:info@edgarcornejo.com"
				title="info@edgarcornejo.com"
				itemprop="email">
				info@edgarcornejo.com
			</a>
		</address>
	</li>

	<li>
		<strong>Teléfono:</strong>
		<address>
			<a itemprop="telephone" href="tel:+51974795622" title="+51974795622">
				+51 974 795 622
			</a>
		</address>
	</li>

	<li>
		<strong>Skype:</strong>
		<a href="skype:devcornejo?call" title="devcornejo">devcornejo</a>
	</li>

	<li>
		<strong>Facebook:</strong>
		<address>
			<a
				href="https://www.facebook.com/edgarcornejopage"
				target="_blank"
				title="Sígueme en Facebook"
				itemprop="nickname">
				devcornejo
			</a>
		</address>
	</li>
</ul>
