---
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("../pages/publicaciones/*.md");
const formattedPosts = formatBlogPosts(allPosts);
---

<div class="lista-enlaces">
	{
		formattedPosts.map((post: any, index: any) => {
			return index < 8 ? (
				<a href={post.url} title={post.frontmatter.title}>
					{post.frontmatter.title}
				</a>
			) : null;
		})
	}
	<a href="/publicaciones/" class="ultimo-enlace" title="Ver más">Ver más</a>
</div>
