---
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("../pages/publicaciones/*.md");
const formattedPosts = formatBlogPosts(allPosts);
---

<p>Últimas publicaciones</p>
<div id="list-posts">
	{
		formattedPosts.map((post: any, index: any) => {
			return index < 8 ? (
				<a href={post.url} title={post.frontmatter.title} class="anin-rapido">
					{post.frontmatter.title}
				</a>
			) : null;
		})
	}
	<a href="/publicaciones/" class="anin-rapido" title="Ver más"
		>Ver más</a
	>
</div>