<div>
    <a href="/" title="Edgar Cornejo">
        <img itemprop="logo" src="/img/edgarcornejo.svg" alt="Edgar Cornejo" />
    </a>
</div>

<style lang="stylus">
    /* Estilos de paginas segundarias */
    /* Logo */
    div
        max-width 3840px
        margin 0 auto

    img
        z-index 1
        height auto
        left 120px
        max-width 110px
        position fixed
        top 44px
        width auto/9
        animation logo .5s ease-in-out both
    
    /* Responsive Design */
    @media screen and (max-width:1366px)
        img
            max-width 80px

    @media screen and (max-width:1024px)
        div
            display flex
            justify-content center
            width 100%
            height auto
            padding 3rem 0 2rem 0

        img
            height auto
            width 110px
            position static

</style>
