---
import menuItems from "../data/menuItemsData";
---

<input type="checkbox" id="open" class="menu-checkbox" />
<nav>
	<label for="open" class="menu-open"></label>
	<menu>
		{
			menuItems.map((item) => (
				<li>
					<a href={item.url} title={item.title} class="nav-li">
						{item.title}
					</a>
				</li>
			))
		}
	</menu>
</nav>

<script>
	import "../js/nav.js";
</script>

<style lang="stylus">
	/* checkbox para menu responsive */
	.menu-checkbox
		display none

	/* Menu */ 
	nav
		width 90%
		max-width 1920px
		margin 0 auto
		animation callme 1s ease-in-out both

	menu
		width 100%
		display flex
		justify-content flex-end
		align-items flex-end
		height auto

	li
		width 20%
		position relative
		animation titulo2 .5s ease-in-out both
		display flex
		justify-content center
		align-items center
		height 100px

	a
		cursor pointer
		color rgb(8, 12, 63)
		text-transform uppercase
		letter-spacing 2pt
		font 700 2rem Ubuntu
		&:hover
			color rgb(61, 188, 230)

	/* Estilo enlace actual */
	.li-current
		color rgb(230, 61, 103)

    /* Responsive Design */
    @media screen and (max-width:1920px)
		li
			max-width 260px

		a
			font 700 1.4rem Ubuntu
    
    @media screen and (max-width:1440px)
		li
			max-width 220px

		a
			font 700 1rem Ubuntu

    @media screen and (max-width:1366px)
		li
			height 60px
			max-width 180px

		a
			letter-spacing 1pt

	@media screen and (max-width:1024px)
		menu
			justify-content center
			align-items center
			
		li
			max-width auto

	@media screen and (max-width:768px)
		nav
			border 0
			height auto
			display flex
			justify-content center

		menu
			display none
			height auto

		li
			width 100%
			max-width 100%
			line-height 3rem
			border-top solid 1px rgb(61, 188, 230)
			&:first-child
				border 0
		
		.menu-open
			user-select none
			cursor pointer
			height 40px
			width 40px
			background url(/img/icon-hamburger.svg) no-repeat center
			background-size 60%
			display inline-block
			margin-top 1rem
			margin-bottom 1rem
		
		.menu-checkbox:checked ~ nav
			.menu-open
				background url(/img/icon-close.svg) no-repeat center !important
				background-size 60% !important
			menu
				display block
</style>
