---
const {title, visible, blog, description} = Astro.props;
---

<header id="main-header">
   <div class="wrapper-h1-h2">
    {visible ? <h2 itemprop="name" class="title">{title}</h2>
    <h1 itemprop="jobTitle" class="subtitle">
      Soy
      <a href="designer/" title="Dise침ador Gr치fico">Dise침ador Gr치fico</a> y
      <a href="desarrollador-web/" title="Desarrollador Web front-end"
        >Desarrollador Web front-end</a>
    </h1> : <h1 class="title">{title} {blog && <h2 class="subtitle">{description}</h2>}</h1>}
  </div> 
</header>