---

---

<input type="checkbox" id="menu" class="input-menu" />
<nav id="main-menu">
	<a href="/" title="Edgar Cornejo" class="logo">
		<img
			itemprop="logo"
			src="/img/edgarcornejo.svg"
			alt="logotipo edgar cornejo"
		/>
	</a>
	<label for="menu" class="open-menu"
		><img src="/img/open-menu.svg" alt="Abrir menu" /></label
	>
	<label for="menu" class="closed-menu"
		><img src="/img/closed-menu.svg" alt="Cerrar menu" /></label
	>
	<menu>
		<li><a href="/" title="Inicio" class="nav-li">Inicio</a></li>
		<li>
			<a href="/presentacion/" title="Presentación" class="nav-li"
				>Presentación</a
			>
		</li>
		<li>
			<a href="/portafolio/" title="Portafolio" class="nav-li">Portafolio</a>
		</li>
		<li>
			<a href="/publicaciones/" title="Publicaciones" class="nav-li"
				>Publicaciones</a
			>
		</li>
		<li><a href="/contacto/" title="Contacto" class="nav-li">Contacto</a></li>
	</menu>
</nav>

<script>
	import "../js/nav.js";
</script>
