---
import { Image } from "astro:assets";

import localLogoEdgarColor from "../images/edgarcornejo.svg";
import localMenuOpen from "../images/open-menu.svg";
import localMenuClosed from "../images/closed-menu.svg";
---

<input type="checkbox" id="menu" class="input-menu" />
<nav id="main-menu">
	<a href="/" title="Edgar Cornejo" class="logo">
		<Image itemprop="logo" src={localLogoEdgarColor} alt="Logo Edgar" />
	</a>

	<label for="menu" class="open-menu">
		<Image src={localMenuOpen} alt="Abrir menu" />
	</label>
	<label for="menu" class="closed-menu">
		<Image src={localMenuClosed} alt="Cerrar menu" />
	</label>

	<menu>
		<li><a href="/" title="Inicio" class="nav-li">Inicio</a></li>
		<li>
			<a href="/presentacion/" title="Presentación" class="nav-li"
				>Presentación</a
			>
		</li>
		<li>
			<a href="/portafolio/" title="Portafolio" class="nav-li">Portafolio</a>
		</li>
		<li>
			<a href="/publicaciones/" title="Publicaciones" class="nav-li"
				>Publicaciones</a
			>
		</li>
		<li><a href="/contacto/" title="Contacto" class="nav-li">Contacto</a></li>
	</menu>
</nav>

<script>
	const navLinks = document.querySelectorAll(".nav-li");

	navLinks.forEach((link) => {
		if (link.getAttribute("href") === window.location.pathname) {
			link.setAttribute("class", "li-current");
		}
	});
</script>
