<input type="checkbox" id="open" class="menu-checkbox" />
<nav>
	<label for="open" class="menu-open"></label>
	<ul>
		<slot />
	</ul>
</nav>

<style lang="stylus">
	/* Menu */ 
	nav
		width 90%
		max-width 1920px
		margin 0 auto
		animation callme 1s ease-in-out both
		ul
			width 100%
			display flex
			justify-content flex-end
			align-items flex-end
			height auto

	.menu-checkbox
		display none

	/* Responsive Design */
	@media screen and (max-width:1024px)
		nav
			ul
				justify-content center
				align-items center

	@media screen and (max-width:768px)
		nav
			border 0
			height auto
			display flex
			justify-content center
			ul
				display none
				height auto
		
		.menu-open
			user-select none
			cursor pointer
			height 40px
			width 40px
			background url(/img/icon-hamburger.svg) no-repeat center
			background-size 60%
			display inline-block
			margin-top 1rem
			margin-bottom 1rem
		
		.menu-checkbox:checked ~ nav
			.menu-open
				background url(/img/icon-close.svg) no-repeat center !important
				background-size 60% !important
			ul
				display block

</style>
