---
import type { Link } from "../types/types";

interface Props extends Link {}

const { title, url } = Astro.props;
---

<li>
    <a href={url} title={title} class="anin-rapido">{title}</a>
</li>

<style lang="stylus">
    li
        width 20%
        position relative
        animation titulo2 .5s ease-in-out both
        display flex
        justify-content center
        align-items center
        height 100px
        a
            cursor pointer
            color rgb(8, 12, 63)
            text-transform uppercase
            letter-spacing 2pt
            font 700 2rem Ubuntu
            &:hover
                color rgb(61, 188, 230)

    /* Responsive Design */
    @media screen and (max-width:1920px)
        li
            max-width 260px
            a
                font 700 1.4rem Ubuntu
    
    @media screen and (max-width:1440px)
        li
            max-width 220px
            a
                font 700 1rem Ubuntu

    @media screen and (max-width:1366px)
        li
            height 60px
            max-width 180px
            a
                letter-spacing 1pt

    @media screen and (max-width:1024px)
        li
            max-width auto
    
    @media screen and (max-width:768px)
        li
            width 100%
            max-width 100%
            line-height 3rem
            border-top solid 1px rgb(61, 188, 230)
            &:first-child
                border 0

</style>
