---
const { prevURL, nextURL } = Astro.props;
---

<nav class="pagination">
    {
        prevURL && (
            <a href={prevURL} title="Atrás" class="anin-rapido">
                <img src="../img/prev.svg" alt="Atrás" /> Atrás
            </a>
        )
    }
    {
        nextURL && (
            <a href={nextURL} title="Siguiente" class="anin-rapido">
                Siguiente <img src="../img/next.svg" alt="Siguiente" />
            </a>
        )
    }
</nav>
