---
const { prevURL, nextURL } = Astro.props;
---

<nav>
    {
        prevURL && (
            <a href={prevURL} title="Atrás" class="anin-rapido">
                <img src="../img/prev.svg" alt="Atrás" /> Atrás
            </a>
        )
    }
    {
        nextURL && (
            <a href={nextURL} title="Siguiente" class="anin-rapido">
                Siguiente <img src="../img/next.svg" alt="Siguiente" />
            </a>
        )
    }
</nav>

<style lang="stylus">
    /* Pagination de Publicaciones */
    nav
        width 100%
        height auto
        display flex
        flex-wrap wrap
        justify-content center
        align-items center
        gap 0 2rem
        padding 1rem 0 1rem 0
        a
            outline solid 3px rgb(191, 238, 231)
            border-radius 3px
            padding 1rem
            display flex
            justify-content center
            align-items center
            gap 0 1rem
            text-wrap nowrap
            font-weight 700
            &:hover
                outline solid 4px rgb(191, 238, 231)
                &:nth-child(odd)
                    transform translatex(-.4rem)
                &:nth-child(even)
                    transform translatex(.4rem)

</style>
