---
const { prevURL, nextURL } = Astro.props;
---

<nav class="pagination">
	{
		prevURL && (
			<a href={prevURL} title="Atrás" class="anin-rapido">
				<span class="material-symbols-sharp">arrow_back</span> Atrás
			</a>
		)
	}
	{
		nextURL && (
			<a href={nextURL} title="Siguiente" class="anin-rapido">
				Siguiente{" "}
				<span class="material-symbols-sharp">arrow_forward</span>
			</a>
		)
	}
</nav>
