---
/* importando layout */
import LayoutDeveloper from "../../layouts/LayoutDeveloper.astro";
---

<LayoutDeveloper>
	<main>
		<header id="main-header">
			<div id="wrapper-logo-nav-contact-title">
				<div id="logo">
					<a href="/desarrollador-web/"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 100 55.6"
							fill="#FFFFFF"
						>
							<g>
								<rect x="33.3" y="22.2" class="st0" width="11.1" height="11.1"
								></rect>
								<rect x="55.6" y="22.2" class="st0" width="11.1" height="11.1"
								></rect>
								<path
									class="st0"
									d="M50,33.3c0,6.1-5,11.1-11.1,11.1h-5.6v11.1h11.1h11.1h11.1v-11H61C55,44.5,50,39.5,50,33.3z"
								></path>
								<path
									class="st0"
									d="M50,22.2c0-6.1,5-11.1,11.1-11.1h5.6V0H55.6H44.4H33.3v11.1h5.6C45,11.1,50,16.1,50,22.2z"
								></path>
								<path
									class="st0"
									d="M22.2,33.3V22.2h11.1V11.1h-5.6c-6.1,0-11.1,5-11.1,11.1c0-6.1-5-11.1-11.1-11.1H0v11.1h11.1v11.1H0v11.1h5.6
								c6.1,0,11.1-5,11.1-11.1c0,6.1,5,11.1,11.1,11.1h5.6V33.3H22.2z"
								></path>
								<path
									class="st0"
									d="M100,22.2V11.1h-5.6c-6.1,0-11.1,5-11.1,11.1c0-6.1-5-11.1-11.1-11.1h-5.6v11.1h11.1v11.1h-11v11.1h5.6
								c6.1,0,11.1-5,11.1-11.1c0,6.1,5,11.1,11.1,11.1h5.6V33.3H88.9V22.2H100z"
								></path>
							</g>
						</svg></a
					>
				</div>

				<input type="checkbox" id="menu" class="input-menu" />
				<nav>
					<label for="menu" class="open-menu"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							height="48px"
							viewBox="0 -960 960 960"
							width="48px"
							fill="#FFFFFF"
							><path
								d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
							></path></svg
						></label
					>
					<label for="menu" class="closed-menu"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							height="48px"
							viewBox="0 -960 960 960"
							width="48px"
							fill="#FFFFFF"
							><path
								d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
							></path></svg
						></label
					>
					<menu>
						<li><a href="#frontend">Frontend</a></li>
						<li><a href="#servicios">Servicios</a></li>
						<li><a href="#contacto">Contacto</a></li>
					</menu>
				</nav>

				<div id="contact">
					<a href="https://wa.me/message/EEEHZULZQV5QG1" title="WhatsApp"
						>WhatsApp</a
					>
					<a href="mailto:info@edgarcornejo.com" title="info@edgarcornejo.com"
						>Correo</a
					>
				</div>

				<div id="wrapper-title">
					<h1>Frontend Developer /</h1>
					<h2>Edgar Cornejo</h2>
				</div>
			</div>
		</header>

		<section id="wrapper-articles">
			<article id="frontend">
				<div class="wrap-article">
					<header>
						<h2>Soy desarrollador frontend</h2><hr />
						<h3>Diseño Web</h3>
					</header>
					<p>
						Desarrollo, diseño y maqueto experiencias para usuarios digitales,
						que transmiten el mensaje correcto de un producto o servicio.
						Orientó todos mis proyectos al <strong
							>posicionamiento en Internet</strong
						> y su rentabilidad.
					</p>
				</div>
			</article>

			<article id="servicios">
				<div class="wrap-article">
					<header>
						<h2>Los servicios que ofrezco</h2><hr />
						<h3>Muchas Maneras de Ayudarte</h3>
					</header>
					<p>
						Ofrezco servicios que se adecuan a lo que necesitas, y <strong
							>te asesoro</strong
						> si aún no sabes que necesitas, pero <strong
							>sabes lo que quieres lograr</strong
						>. Me gusta ayudar a empresas que quieren crecer y tienen poca
						experiencia en tener presencia en Internet. <br /><br />
						Los servicios que te ofrezco son los siguientes: <strong
							>Diseño Web</strong
						>, <strong>Rediseño Web</strong>, <strong
							>Maquetación de Página Web</strong
						> y <strong>Autoría SEO</strong>
					</p>
				</div>
			</article>

			<article id="contacto">
				<div class="wrap-article">
					<header>
						<h2>Como contactarme</h2><hr />
						<h3>Te Escucho</h3>
					</header>
					<p>
						Puedes contactarme de <strong>Lunes a Viernes</strong> de <strong
							>09:00 a.m. a 14:00 p.m.</strong
						> al celular <strong>+51 974 795 622</strong> y al correo <strong
							>info@edgarcornejo.com</strong
						>. Actualmente todas las reuniones son por Google Meet o Skype. <br
						/><br />
						<a
							href="mailto:info@edgarcornejo.com"
							title="info@edgarcornejo.com"
							class="bot-call">info@edgarcornejo.com</a
						>
						<a href="tel:+51974795622" title="Llamar" class="bot-call">Llamar</a
						>
					</p>
				</div>
			</article>
		</section>

		<footer>
			<div id="wrapper-uls-footer">
				<div class="ul-footer">
					<h3>Contacto</h3>
					<ul>
						<li>
							<a
								href="mailto:info@edgarcornejo.com"
								title="info@edgarcornejo.com">info@edgarcornejo.com</a
							>
						</li>
						<li>
							<a href="tel:+51974795622" title="Llamar">Llamar</a>
						</li>
					</ul>

					<h3>Redes</h3>
					<ul>
						<li>
							<a
								href="https://github.com/edgarcornejo"
								title="GitHub"
								target="_blank">GitHub</a
							>
						</li>
						<li>
							<a
								href="https://www.facebook.com/edgarcornejopage"
								title="Facebook"
								target="_blank">Facebook</a
							>
						</li>
						<li>
							<a href="https://x.com/devcornejo" title="X" target="_blank">X</a>
						</li>
						<li>
							<a
								href="https://www.youtube.com/user/devcornejo"
								title="YouTube"
								target="_blank">YouTube</a
							>
						</li>
					</ul>
				</div>

				<div class="ul-footer">
					<h3>Sitios Web</h3>
					<ul>
						<li>
							<a
								href="https://www.minilink.edgarcornejo.com/"
								title="Minilink Soluciones"
								target="_blank">Minilink Soluciones</a
							>
						</li>
						<li>
							<a
								href="https://www.navedepapel.edgarcornejo.com/"
								title="Nave de Papel"
								target="_blank">Nave de Papel</a
							>
						</li>
						<li>
							<a
								href="https://www.fotos.edgarcornejo.com/"
								title="Fotos Gratis"
								target="_blank">Fotos Gratis</a
							>
						</li>
						<li>
							<a
								href="https://minimarketlucy.edgarcornejo.com/"
								title="Minimarket Lucy"
								target="_blank">Minimarket Lucy</a
							>
						</li>
					</ul>
				</div>

				<div class="ul-footer">
					<h3>Publicaciones</h3>

					<ul>
						<li>
							<a
								href="/publicaciones/el-servicio-de-desarrollo-front-end"
								title="El servicio de Desarrollo front-end"
								target="_blank">El servicio de Desarrollo front-end</a
							>
						</li>
						<li>
							<a
								href="/publicaciones/que-necesito-para-mi-primera-web"
								title="Que necesito para mi primera web"
								target="_blank">Que necesito para mi primera web</a
							>
						</li>
						<li>
							<a
								href="/publicaciones/mi-primer-dominio"
								title="Mi primer dominio"
								target="_blank">Mi primer dominio</a
							>
						</li>
						<li>
							<a
								href="/publicaciones/como-elegir-un-buen-hosting"
								title="Como elegir un buen hosting"
								target="_blank">Como elegir un buen hosting</a
							>
						</li>
					</ul>
				</div>

				<div id="copyright">
					<p>© Edgar Cornejo</p>
				</div>
			</div>
		</footer>
	</main>
</LayoutDeveloper>
