---
import LayoutDesigner from "../../layouts/LayoutDesigner.astro";
import "../../styles/layoutdesigner.css";
---

<LayoutDesigner
  title="Diseñador Gráfico Edgar Cornejo, designer graphic, diseño gráfico, freelance, diseño de logotipo"
  description="Es un gusto saludarte y darte la bienvenida a mi web de diseñador gráfico, estoy aquí para ofrecerte mis servicios."
  keywords="diseñador gráfico, diseñador web, graphic designer, freelance, diseño de logotipos, afiches"
  url="https://www.edgarcornejo.com/designer/"
>
  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/bienvenido.svg" alt="Bienvenido" />
        <figcaption>Ilustración Edgar Cornejo</figcaption>
      </figure>

      <header>
        <h2>Bienvenido</h2>
      </header>

      <div class="wrap-txt">
        <p>
          Es un gusto saludarte y darte la bienvenida a mi web de <strong
            >diseñador gráfico</strong
          >, estoy aquí para <strong>ofrecerte</strong>
          <strong>mis servicios</strong>, ayudarte a vender tus <strong
            >ideas</strong
          > y como <strong>desarrollarlas</strong>, ayudándote a <strong
            >comunicar ingeniosamente</strong
          > y apropiadamente lo que quieres transmitir a tus <strong
            >clientes</strong
          >.
        </p>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/presentacion.svg" alt="Presentación" />
        <figcaption>Presentación</figcaption>
      </figure>

      <header>
        <h2>Presentación</h2>
      </header>

      <div class="wrap-txt">
        <p>
          Mi nombre es <strong>Edgar Cornejo</strong> nací en <strong
            >Arequipa, Perú</strong
          > y actualmente resido aquí, trabajo <strong>profesionalmente</strong>
          desde el 2011 como <strong>Diseñador Gráfico</strong>. He estudiado en
          el <strong
            >Instituto de Informática de la Universidad Nacional de San Agustín</strong
          > (InfoUNSA), actualmente soy <strong>autodidacta</strong>.
        </p>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/servicios.svg" alt="Servicios" />
        <figcaption>Servicios</figcaption>
      </figure>

      <header>
        <h2>Servicios</h2>
      </header>

      <div class="wrap-txt">
        <p>
          Si buscas un <strong>servicio profesional</strong>, estos son los que
          te ofrezco. Si el servicio que buscas no se encuentra en esta lista
          puedes consultarme para ofrecerte <strong>asesoría</strong>.
        </p>
        <p>
          <strong
            >Creación de logotipos, rediseño de logotipos, brochure, afiches,
            flyers, vectorizaciones, gigantografias, diseño de mascotas
            publicitarias, diseño de merchandise y tarjetas de presentación</strong
          >.
        </p>
      </div>

      <div id="list-services">
        <div class="item-services">
          <div></div>
          <h3>Branding</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Rebranding</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Brochure</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Afiches</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Flayers</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Vectorizaciones</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Gigantografias</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Diseño de Mascotas</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Merchandise</h3>
        </div>

        <div class="item-services">
          <div></div>
          <h3>Tarjetas de Presentación</h3>
        </div>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img
          src="/designer/habilidadesyherramientas.svg"
          alt="Habilidades y Herramientas"
        />
        <figcaption>Habilidades y Herramientas</figcaption>
      </figure>

      <header>
        <h2>Habilidades y Herramientas</h2>
      </header>

      <div class="wrap-txt">
        <p>
          La continua práctica mejora las habilidades que utilizó diariamente,
          por ello me centro en lo mejor que sé hacer. Utilizó herramientas
          modernas para un trabajo impecable.
        </p>
        <p>
          Para diseñar utilizo lápiz, plumones, papel, scanner y luego Adobe
          Illustrator, Photoshop, InDesign. Dependiendo del servicio que
          necesite las herramientas cambiarán.
        </p>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/conversemos.svg" alt="Conversemos" />
        <figcaption>Conversemos</figcaption>
      </figure>

      <header>
        <h2>Conversemos</h2>
      </header>

      <div class="wrap-txt">
        <p>
          Trabajo de <strong>Lunes a Jueves de 09:00 a.m. a 14:00 p.m.</strong>,
          responderé a tus dudas en este horario. Si tienes una <strong
            >consulta</strong
          > o quieres un <strong>presupuesto</strong> envía un correo a <strong
            ><a href="mailto:info@edgarcornejo.com">info@edgarcornejo.com</a>
          </strong> o si quieres una videollamada por Google Meet, también puedes
          llamarme a mi móvil <strong
            ><a href="tel:+51974795622" title="+51974795622">+51 974 795 622</a
            ></strong
          >.
        </p>
      </div>
    </article>
  </section>
</LayoutDesigner>
