---
import LayoutDesigner from "../../layouts/LayoutDesigner.astro";
import "../../styles/layoutdesigner.css";
---

<LayoutDesigner
  title="Recomendación Diseñador Gráfico Edgar Cornejo designer graphic diseño gráfico freelance - Arequipa, Perú"
  url="/designer/recomendacion"
>
  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/brave-logotype-dark.svg" alt="Brave" />
        <figcaption>Brave</figcaption>
      </figure>

      <header>
        <h2>Brave</h2>
      </header>

      <div class="wrap-txt">
        <blockquote cite="https://brave.com/">
          Much more than a browser, Brave is a new way of thinking about how the
          web works. Brave is open source and built by a team of privacy
          focused, performance oriented pioneers of the web.
        </blockquote>
        <p>
          <a
            href="https://brave.com/"
            title="Sitio web de Brave"
            target="_blank">Sitio web de Brave</a
          >
        </p>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/mamp.png" alt="MAMP" />
        <figcaption>MAMP</figcaption>
      </figure>

      <header>
        <h2>MAMP</h2>
      </header>

      <div class="wrap-txt">
        <blockquote cite="https://www.mamp.info/en/">
          MAMP is a free, local server environment that can be installed under
          macOS and Windows with just a few clicks. MAMP provides them with all
          the tools they need to run WordPress on their desktop PC for testing
          or development purposes, for example. It doesn't matter if you prefer
          Apache or Nginx or if you want to work with PHP, Python, Perl or Ruby.
        </blockquote>
        <p>
          <a
            href="https://www.mamp.info/en/"
            title="Sitio web de MAMP"
            target="_blank">Sitio web de MAMP</a
          >
        </p>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/prepros.png" alt="Prepros" />
        <figcaption>Prepros</figcaption>
      </figure>

      <header>
        <h2>Prepros</h2>
      </header>

      <div class="wrap-txt">
        <blockquote cite="https://prepros.io/">
          Compile Sass, Less, Stylus, Jade, CoffeeScript on Mac, Windows & Linux
          with Live Browser Reload.
        </blockquote>
        <p>
          <a
            href="https://prepros.io/"
            title="Sitio web de Prepros"
            target="_blank">Sitio web de Prepros</a
          >
        </p>
      </div>
    </article>
  </section>

  <section class="wrapper-article">
    <article>
      <figure>
        <img src="/designer/restream.png" alt="Restream" />
        <figcaption>Restream</figcaption>
      </figure>

      <header>
        <h2>Restream</h2>
      </header>

      <div class="wrap-txt">
        <blockquote cite="https://restream.io/">
          Restream allows you to broadcast live video to 30+ social networks at
          the same time.
        </blockquote>
        <p>
          <a
            href="https://restream.io/join/XB8r5"
            title="Sitio web de Restream"
            target="_blank">Sitio web de Restream</a>
        </p>
      </div>
    </article>
  </section>
</LayoutDesigner>
