---
const fecha = new Date();
const year = fecha.getFullYear();

const { author } = Astro.props;
---

<footer id="footer">
	<div id="logo-footer"></div>

	<div id="copyright">
		<small>
			Copyright &copy; <span>{year}</span>
			<a href="/" title={author}> {author}</a> | Todos los derechos reservados.
		</small>
	</div>

	<div id="wrap-social">
		<div class="social-footer">
			<a
				href="https://www.behance.net/edgarcornejo"
				title="Behance"
				target="_blank">Behance</a
			>
			<a
				href="https://www.linkedin.com/in/edgar-cornejo-cahuana-97415048/"
				title="LinkedIn"
				target="_blank">LinkedIn</a
			>
			<a
				href="https://instagram.com/devcornejo/"
				title="Instagram"
				target="_blank">Instagram</a
			>
			<a
				href="https://www.youtube.com/user/devcornejo"
				title="YouTube"
				target="_blank">YouTube</a
			>
			<a
				href="https://www.facebook.com/edgarcornejopage/"
				title="Facebook"
				target="_blank">Facebook</a
			>
			<a href="https://twitter.com/devcornejo" title="Twitter" target="_blank"
				>Twitter</a
			>
		</div>
	</div>
</footer>
