---

---

<header id="main-header">
	<div id="logo">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 55.6"
			fill="#FFFFFF"
		>
			<g>
				<rect x="33.3" y="22.2" class="st0" width="11.1" height="11.1"></rect>
				<rect x="55.6" y="22.2" class="st0" width="11.1" height="11.1"></rect>
				<path
					class="st0"
					d="M50,33.3c0,6.1-5,11.1-11.1,11.1h-5.6v11.1h11.1h11.1h11.1v-11H61C55,44.5,50,39.5,50,33.3z"
				></path>
				<path
					class="st0"
					d="M50,22.2c0-6.1,5-11.1,11.1-11.1h5.6V0H55.6H44.4H33.3v11.1h5.6C45,11.1,50,16.1,50,22.2z"
				></path>
				<path
					class="st0"
					d="M22.2,33.3V22.2h11.1V11.1h-5.6c-6.1,0-11.1,5-11.1,11.1c0-6.1-5-11.1-11.1-11.1H0v11.1h11.1v11.1H0v11.1h5.6
				c6.1,0,11.1-5,11.1-11.1c0,6.1,5,11.1,11.1,11.1h5.6V33.3H22.2z"
				></path>
				<path
					class="st0"
					d="M100,22.2V11.1h-5.6c-6.1,0-11.1,5-11.1,11.1c0-6.1-5-11.1-11.1-11.1h-5.6v11.1h11.1v11.1h-11v11.1h5.6
				c6.1,0,11.1-5,11.1-11.1c0,6.1,5,11.1,11.1,11.1h5.6V33.3H88.9V22.2H100z"
				></path>
			</g>
		</svg>
	</div>

	<div class="name-title">
		<a href="/designer/" title="Dise침ador Gr치fico Edgar Cornejo"
			><h1>Dise침ador Gr치fico Edgar Cornejo</h1></a
		>
	</div>

	<input type="checkbox" id="menu" class="input-menu" />
	<nav>
		<label for="menu" class="open-menu"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				height="48px"
				viewBox="0 -960 960 960"
				width="48px"
				fill="#FFFFFF"
				><path
					d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
				></path></svg
			>
		</label>
		<label for="menu" class="closed-menu"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				height="48px"
				viewBox="0 -960 960 960"
				width="48px"
				fill="#FFFFFF"
				><path
					d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
				></path></svg
			></label
		>
		<menu>
			<li>
				<a href="/designer/" title="Inicio">Inicio</a>
			</li>
			<li>
				<a href="/designer/recomendacion" title="Recomendaciones"
					>Recomendaciones</a
				>
			</li>
			<li>
				<a href="/publicaciones/" title="Blog Edgar">Blog Edgar</a>
			</li>
		</menu>
	</nav>
</header>
