---
import Image from "astro/components/Image.astro";

import localMenuOpen from "../../images/open-menu.svg";
import localMenuClosed from "../../images/closed-menu.svg";
---

<header>
	<div id="logo"></div>

	<a
		class="name-title"
		href="/designer/"
		title="Diseñador Gráfico Edgar Cornejo"
		><h1>Diseñador Gráfico Edgar Cornejo</h1></a
	>

	<input type="checkbox" id="menu" class="input-menu" />
	<nav>
		<label for="menu" class="open-menu"
			><Image src={localMenuOpen} alt="Abrir menu" /></label
		>
		<label for="menu" class="closed-menu"
			><Image src={localMenuClosed} alt="Cerrar menu" /></label
		>
		<menu>
			<li>
				<a href="/designer/" title="Inicio">Inicio</a>
			</li>
			<li>
				<a href="/designer/recomendacion" title="Recomendaciones"
					>Recomendaciones</a
				>
			</li>
			<li>
				<a href="/publicaciones/" title="Blog Edgar">Blog Edgar</a>
			</li>
		</menu>
	</nav>
</header>

<style lang="stylus">
  /* Colores */
  hardWhite = #FFFFFF
  greenLiquid = #A0EAEB
  greenPastel = #6AC8C7
  greenMate = #0FAAA7
  greenPure = #0D8796
  hardGreen = #054d56

  /* Cebecera principal */
  header
    width 100%
    display flex
    align-items center
    justify-content space-between
    flex-wrap wrap
    position fixed
    border-top 1vh solid greenMate
    z-index 1
  
  /* Logotipo */
  #logo
    background url(../designer/edgarcornejo.svg) no-repeat 50% 44% greenMate
    background-size 40%
    height 8vh
    min-height 3rem
    width 12vw
    animation lefttoright 1s ease-in
    position relative
    border-radius 0 0 0.4vw 0
    top -1vh
  
  /* Logotipo */
  @keyframes lefttoright
    0%
      left -230px
    100%
      left 0
  
  /* Título de página */
  .name-title
    flex-grow 2

  h1
    padding-left 3vw
    animation aparecer .5s ease-in both
    font-size 1.2vw
    font-weight 700
    letter-spacing .5pt
    text-transform uppercase
    animation-delay 1s
  
  /* Animacion de parecer H1 */
  @keyframes aparecer
    0%
      opacity 0
    100%
      opacity 100%

  /* Animacion cuando bajamos H1 */
  .name-title
    transition all 0.2s ease-out
    color greenPure
    &.scroll
      color transparent !important

  /* Nav Header */
  nav
    display flex
    align-items center
    padding-right 3vw
    .open-menu,.closed-menu
      user-select none
      cursor pointer
      display block
      color hardGreen
      background rgba(255, 255, 255, 0.4)
      border-radius 5px
      img
        min-width 48px
        width 2vw
        height auto
        filter hue-rotate(280deg)
    .closed-menu
      display none
    menu
      display none
      padding-left 2rem
    a
      font-size 3rem
      font-weight 700
      color hardGreen
      transition all 0.2s ease-out
      padding 2rem
      border-bottom dashed 2px greenMate
      &:hover
        background greenLiquid
        border-radius 5px

  .input-menu
    display none
    &:checked ~ nav
      .open-menu
        display none
      .closed-menu
        user-select none
        cursor pointer
        display block
      menu
        display flex
        flex-direction column
        gap 1rem
        position absolute
        top 0
        height 100vh
        right 6vw
        text-align right
        background hardWhite
        padding 2rem

  /* Responsive Design */ 
  @media screen and (max-width:2560px)
    /* Título de página */
    h1
      letter-spacing -1pt
    
    /* Nav Header */
    nav
      .open-menu,.closed-menu
        font-size 4rem
      a
        font-size 2em
        padding 1rem

  @media screen and (max-width:1920px)
    /* Nav Header */
    nav
      .open-menu,.closed-menu
        font-size 3rem
      a
        font-size 1em
        padding .5rem

  @media screen and (max-width:1366px)
    /* Título de página */
    h1
      font-size 1.4vw
      letter-spacing normal

  @media screen and (max-width:1366px)
    .input-menu
      &:checked ~ nav
        menu
          right 8vw
  
  @media screen and (max-width:768px)
    /* Cebecera principal */
    header
      position static
      justify-content center
      border 0

    /* Logotipo */
    #logo
      background-size 10%
      height 9vh
      position static
      width 100%

    /* Título de página */
    .name-title
      flex-grow 1

    h1
      padding 1.6rem 0 1.6rem 0
      font-size 4vw
      text-align center

    /* Nav Header */
    nav
      width 100%
      justify-content center
      padding-right 0
      flex-direction column
      menu
        padding-left 0
        a
          font-size 3vw

    .input-menu
      &:checked ~ nav
        menu
          position static
          height auto
          text-align center
          height auto
          right 0
          background transparent
          padding 1rem 0 1rem 0
</style>
