---
import { Image } from "astro:assets";

import localMenuOpen from "../../images/open-menu.svg";
import localMenuClosed from "../../images/closed-menu.svg";
---

<header id="main-header">
	<div id="logo"></div>

	<div class="name-title">
		<a href="/designer/" title="Dise침ador Gr치fico Edgar Cornejo"
			><h1>Dise침ador Gr치fico Edgar Cornejo</h1></a
		>
	</div>

	<input type="checkbox" id="menu" class="input-menu" />
	<nav>
		<label for="menu" class="open-menu"
			><Image src={localMenuOpen} alt="Abrir menu" /></label
		>
		<label for="menu" class="closed-menu"
			><Image src={localMenuClosed} alt="Cerrar menu" /></label
		>
		<menu>
			<li>
				<a href="/designer/" title="Inicio">Inicio</a>
			</li>
			<li>
				<a href="/designer/recomendacion" title="Recomendaciones"
					>Recomendaciones</a
				>
			</li>
			<li>
				<a href="/publicaciones/" title="Blog Edgar">Blog Edgar</a>
			</li>
		</menu>
	</nav>
</header>
